.figure img,
.figure video {
  object-fit: contain;
  width: 100%;
  border: 1px solid var(--hairline);
  border-radius: 20px;
}

.figure video.small {
  width: 75%;
}

.figure video.x-small {
  width: 50%;
}

.figure {
  cursor: zoom-in;
}
