@keyframes a {
  0% {
  opacity: 0;
  transform: translate3d(0,10%,0) 
 }
  to {
  opacity: 1;
  transform: translateZ(0) 
 }
 
 }
 html {
  box-sizing: border-box
 }
 *,:after,:before {
  box-sizing: inherit
 }
 @media print {
  *,:after,:before {
  background: transparent!important;
  color: #000!important;
  box-shadow: none!important;
  text-shadow: none!important 
 }
  a,a:visited {
  text-decoration: underline 
 }
  a[href]:after {
  content: " (" attr(href) ")" 
 }
  abbr[title]:after {
  content: " (" attr(title) ")" 
 }
  a[href^="#"]:after,a[href^="javascript: "]:after {
  content: "" 
 }
  pre {
  white-space: pre-wrap!important 
 }
  blockquote,pre {
  border: 1px solid #999;
  page-break-inside: avoid 
 }
  thead {
  display: table-header-group 
 }
  img,tr {
  page-break-inside: avoid 
 }
  h2,h3,p {
  orphans: 3;
  widows: 3 
 }
  h2,h3 {
  page-break-after: avoid 
 }
 
 }
 html {
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Helvetica,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6;
  color: #101010;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: auto;
  font-feature-settings: auto;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff
 }
 @media (min-width: 120em) {
  html {
  font-size: 1.4rem 
 }
 
 }
 :: selection {
  background: #999;
  color: #101010;
  text-shadow: none
 }
 audio,video {
  display: inline-block
 }
 audio: not([controls]) {
  display: none;
  height: 0
 }
 img {
  max-width: 100%;
  margin: 0 0 1rem;
  border-style: none
 }
 svg: not(: root) {
  overflow: hidden
 }
 iframe {
  margin: 2rem 0
 }

 figcaption,figure,main {
  display: block
 }
 figure {
  margin: 0
 }
 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
  padding: 0
 }
 pre {
  position: relative;
  padding: 2rem;
  background: #f5f5f5;
  font-family: monospace;
  font-size: 1rem;
  overflow: auto
 }
 [hidden] {
  display: none
 }
 details,menu {
  display: block
 }
 summary {
  display: list-item
 }
 a {
  color: #101010;
  transition: color .3s ease-in-out;
  text-decoration: underline
 }
 a:hover {
  color: #999
 }
 a:active,a:focus {
  color: #999;
  outline: 0
 }
 ol,ul {
  margin: 0 0 2rem;
  padding: 0
 }
 ul {
  list-style: inside
 }
 li {
  margin: 0;
  padding: .5rem 0
 }
 dl {
  display: inline-block
 }
 dt {
  display: block;
  font-weight: 600
 }
 body,dd {
  margin: 0
 }
 body {
  overflow-x: hidden
 }
 article,aside,footer,header,nav,section {
  display: block
 }
 a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
 }
 abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
 }
 b,strong {
  font-weight: inherit;
  font-weight: bolder
 }
 code,kbd,samp {
  font-family: monospace;
  font-size: 1rem
 }
 dfn {
  font-style: italic
 }
 mark {
  background-color: #ff0;
  color: #000
 }
 small {
  font-size: 80%
 }
 sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
 }
 sub {
  bottom: -.25em
 }
 sup {
  top: -.5em
 }
 h1,h2,h3,h4,h5,h6 {
  line-height: 1.2;
  font-weight: 400;
  font-style: normal
 }
 h1 {
  margin: 0 0 1rem;
  font-size: 2.4rem
 }
 h2 {
  margin: 2.5rem 0 1rem;
  font-size: 2rem
 }
 h3 {
  margin: 1.5rem 0 .5rem;
  font-size: 1.4rem
 }
 h4 {
  margin: 0 0 .33333rem;
  font-size: 1.2rem
 }
 h5 {
  margin: 0 0 .25rem;
  font-size: 1rem
 }
 h6 {
  margin: 0 0 .2rem;
  font-size: .85rem
 }
 p {
  margin: 0 0 1rem
 }
 blockquote {
  position: relative;
  margin: 4rem 0;
  font-size: 1.4rem;
  color: #999;
  line-height: 1.2
 }
 blockquote p {
  margin: 0
 }
 blockquote cite {
  font-size: 1rem;
  font-style: normal
 }
 blockquote cite:before {
  content: "";
  display: block;
  width: 10%;
  height: 1px;
  margin-top: 32px;
  margin-top: 2rem;
  background-color: #ccc
 }
 blockquote:before {
  content: "";
  display: block;
  margin: 0 0 16px;
  margin: 0 0 1rem;
  width: 40px;
  height: 29px;
  opacity: .2;
  background-image: url(data: image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iMjkiIHZpZXdCb3g9IjAgMCA0MCAyOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+cXVvdGU8L3RpdGxlPjxwYXRoIGQ9Ik0zNy4xNDIgMGwtNS43MTQgMTEuNDI4SDQwdjE3LjE0NEgyMi44NThWMTEuNDI4TDI4LjU3MiAwaDguNTd6TTE0LjI4NiAwTDguNTcyIDExLjQyOGg4LjU3djE3LjE0NEgwVjExLjQyOEw1LjcxNCAwaDguNTcyeiIgZmlsbD0iIzhBOEU5OSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9zdmc+)
 }
 @media (min-width: 50em) {
  blockquote {
  font-size: 2rem;
  letter-spacing: -.01em 
 }
 
 }
 @media (min-width: 80em) {
  blockquote {
  margin: 6rem 0 
 }
  blockquote:before {
  position: absolute;
  right: 100%;
  top: 8px;
  margin: 0 48px;
  margin: 0 3rem 
 }
 
 }
 .grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 1rem
 }
 .grid-item {
  margin-bottom: 4rem
 }
 .grid-item:first-child {
  grid-column: 1/3
 }
 .main {
  transition: opacity .3s ease-in-out
 }
 .main,.wrapper {
  position: relative
 }
 .wrapper {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 80em
 }
 @media (min-width: 50em) {
  .wrapper {
  padding: 0 6rem 
 }
 
 }
 @media (min-width: 80em) {
  .wrapper {
  padding: 0 15em 
 }
 
 }
 .back-link {
  display: none;
  position: absolute;
  top: -3.5rem;
  margin-left: -7.5em;
  text-decoration: none
 }
 .back-link svg {
  transition: transform .1s ease-in-out
 }
 .back-link:hover svg {
  transform: translateX(-.33333rem)
 }
 .back-link {
  color: #999
 }
 .back-link svg {
  width: 7.5em
 }
 @media (min-width: 80em) {
  .back-link {
  display: block 
 }
 
 }
 .back-to-top {
  position: fixed;
  right: .5rem;
  bottom: 1rem;
  transition: opacity .3s ease-in-out
 }
 .back-to-top svg {
  transition: transform .1s ease-in-out
 }
 .back-to-top:hover svg {
  transform: translateY(-.33333rem)
 }
 @media (min-width: 80em) {
  .back-to-top {
  right: 1.5rem;
 }
 
 }
 .back-to-top:hover svg {
  fill: #999
 }
 .js .back-to-top {
  opacity: 0
 }
 .js .back-to-top.is-visible {
  opacity: 1
 }
 .card {
  position: relative;
  margin: 0 0 6rem
 }
 .card-media {
  position: relative;
  width: 100%;
  height: 570px;
  margin: 0 0 2rem;
  transition: all .3s ease-in-out;
 }
 .card-media.shadow {
  box-shadow: 0 4px 12px rgba(0,0,0,.2);
 }
 .card-desc,.card-title {
  font-size: 1.4rem;
 }
 .card-title {
  margin: 0 0 1rem;
  color: #101010
 }
 .card-title a {
  text-decoration: none
 }
 .card-title a:hover {
  color: #101010
 }
 .card-desc {
  max-width: 35em;
  color: #999;
  line-height: 1.2
 }
 .card-meta {
  color: #999
 }
 .card-icon {
  position: absolute;
  top: 0;
  right: 0
 }
 .card-cta {
  display: inline;
  position: relative;
  text-decoration: none
 }
 .card-cta:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor
 }
 .card-cta:hover {
  color: #999
 }
 .card-cta svg {
  margin-left: .5rem
 }
 .card:hover .card-cta {
  color: #999
 }
 .code {
  position: relative;
  margin: 1rem 0
 }
 .code pre {
  background-color: #f5f5f5
 }
 .code:before {
  content: attr(data-lang);
  display: block;
  color: #999;
  font-size: 13.6px;
  font-size: .85rem
 }
 @media (min-width: 80em) {
  .code:before {
  position: absolute;
  top: 8px;
  top: .5rem;
  right: 100%;
  width: 7.5em;
  transform: translateY(-50%);
  text-align: center 
 }
 
 }
 .entry {
  margin: 4rem 0
 }
 .entry>p:first-child {
  margin: 0 0 3rem;
  font-size: 1.2rem
 }
 @media (min-width: 80em) {
  .entry>p:first-child {
  font-size: 1.4rem 
 }
 
 }
 .entry p: empty {
  display: none
 }
 .entry h3+figure {
  margin-top: 1rem
 }
 .footer {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw)
 }
 .footer-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center
 }
 .footer-list {
  width: 25%
 }
 .footer-legal {
  margin: 0 0 1rem;
  font-size: .85rem
 }
 .footer-nav {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: 10rem
 }
 .footer-nav--spaced {
  margin-top: 8rem;
  margin-bottom: 8rem
 }
 .footer-nav-link {
  display: inline-block
 }
 .footer-nav-link svg {
  transition: transform .1s ease-in-out
 }
 .footer-nav-link:hover svg {
  transform: translateX(.33333rem)
 }
 .footer-nav-link {
  display: inline;
  position: relative;
  text-decoration: none
 }
 .footer-nav-link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor
 }
 .footer-nav-link:hover {
  color: #999
 }
 .footer-nav-link:after {
  display: none
 }
 .footer-nav-link--min {
  font-size: 1.4rem
 }
 .footer-nav-lead {
  padding: 0 0 1rem;
  color: #999
 }
 .footer-nav-desc,.footer-nav-title {
  font-size: 1.4rem
 }
 @media (min-width: 50em) {
  .footer-nav-desc,.footer-nav-title {
  font-size: 2rem 
 }
 
 }
 .footer-nav-title {
  color: #101010
 }
 .footer-nav-desc {
  margin: 0;
  padding: 0 0 2rem;
  line-height: 1.2;
  color: #999
 }
 .header {
  width: 100%;
  padding: 2rem 0
 }
 @supports (display: flex) {
  .header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center 
 }
 
 }
 .header-title {
  display: inline-block;
  text-decoration: none
 }
 .header-nav {
  float: right;
  width: 65%;
  text-align: right
 }
 @supports (display: flex) {
  .header-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: auto;
  text-align: left;
  width: auto 
 }
 
 }
 .header-link {
  position: relative;
  margin-right: 1rem;
  text-decoration: none
 }
 .header-link:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  max-width: 0;
  height: 1px;
  background-color: currentColor;
  transition: max-width .3s ease-in-out
 }
 .header-link:hover:after {
  max-width: 300px
 }
 .header-link.is-active {
  cursor: default;
  color: #999
 }
 .header-link:last-child {
  margin: 0
 }
 @media (min-width: 50em) {
  .header-link {
  margin-right: 3rem 
 }
 
 }
 .header-link-meta {
  display: none
 }
 @media (min-width: 50em) {
  .header-link-meta {
  display: inline-block 
 }
 
 }
 .highlight {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw
 }
 .highlight img {
  width: 100%
 }
 @media (min-width: 80em) {
  .highlight {
  position: static;
  width: auto;
  margin-left: -15em;
  margin-right: -15em 
 }
 
 }
 .highlight {
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 6rem 0;
  background-color: #f5f5f5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
 }
 @media (min-width: 80em) {
  .highlight {
  height: 100vh 
 }
 
 }
 .highlight-content {
  width: 100%;
  padding: 0 2rem
 }
 @media (min-width: 50em) {
  .highlight-content {
  padding: 0 6rem 
 }
 
 }
 @media (min-width: 80em) {
  .highlight-content {
  padding: 0 15em 
 }
 
 }
 .icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor
 }
 .image {
  position: relative;
  margin: 3rem 0
 }
 .image img {
  width: 100%
 }
 .image {
  & img[data-srcset],// Enable Edge to see the images and they get loaded & img[data-src] {
  display: block;
  min-height: 1px 
 }
 
 }
 .image--lrg {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw
 }
 .image--lrg img {
  width: 100%
 }
 @media (min-width: 80em) {
  .image--lrg {
  position: static;
  width: auto;
  margin-left: -15em;
  margin-right: -15em 
 }
 
 }
 .image--lrg,.image-caption {
  text-align: center
 }
 .image-caption {
  max-width: 35em;
  margin: 0 auto
 }
 .image-caption-desc {
  font-size: .85rem
 }
 .image-caption-desc:before {
  content: "[↑]";
  display: inline-block;
  margin-right: 8px;
  margin-right: .5rem
 }
 .intro {
  position: relative;
  width: 100%;
  line-height: 1.6;
  margin: 0 0 4rem
 }
 @media (min-width: 80em) {
  .intro {
  height: 75vh;
  margin: 0 
 }
 
 }
 .intro-header {
  margin: 4rem 0
 }
 @media (min-width: 80em) {
  .intro-header {
  margin: 0;
  position: relative;
  top: 30% 
 }
 
 }
 @supports ((-webkit-animation-name: test) or (animation-name: test)) {
  .intro-cta,.intro-desc,.intro-meta,.intro-title {
  opacity: 0 
 }
 
 }
 .intro-desc,.intro-title {
  font-size: 1.4rem
 }
 @media (min-width: 50em) {
  .intro-desc,.intro-title {
  font-size: 2rem;
  letter-spacing: -.01em 
 }
 
 }
 .intro-title {
  margin: 0 0 .5rem;
  animation: a .3s ease-in-out forwards;
  animation-delay: .3s
 }
 .intro-title~.intro-desc {
  color: #999;
  line-height: 1.2
 }
 .intro-title~.intro-desc a {
  color: #999
 }
 .intro-title~.intro-desc a:hover {
  color: #101010
 }
 .intro-desc {
  animation: a .3s ease-in-out forwards;
  animation-delay: .6s
 }
 .intro-desc a {
  position: relative;
  text-decoration: none
 }
 .intro-desc a:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor
 }
 .intro-cta,.intro-meta {
  animation: a .3s ease-in-out forwards;
  animation-delay: .9s
 }
 .intro-cta {
  display: inline-block;
  margin-top: 3rem;
  display: inline;
  position: relative;
  text-decoration: none
 }
 .intro-cta:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor
 }
 .intro-cta:hover {
  color: #999
 }
 .intro-cta svg {
  margin-left: .5rem
 }
 .intro-meta {
  margin: 2rem 2rem 0 0
 }
 .intro-meta-title {
  font-weight: 400
 }
 .intro-meta-body {
  color: #999
 }
 .intro-social {
  display: none
 }
 @media (min-width: 80em) {
  .intro-social {
  display: block;
  position: absolute;
  left: 100%;
  bottom: 3rem;
  transform: translateX(-100%);
  text-align: right 
 }
 
 }
 .note {
  position: relative;
  margin: 1rem 0;
  border: 1px solid #ccc;
  padding: 2rem;
  box-shadow: inset .3em 0 0 0 #ccc
 }
 .note:before {
  content: attr(data-label);
  display: block;
  color: #999;
  font-size: 13.6px;
  font-size: .85rem
 }
 @media (min-width: 80em) {
  .note:before {
  position: absolute;
  top: 8px;
  top: .5rem;
  right: 100%;
  width: 7.5em;
  transform: translateY(-50%);
  text-align: center 
 }
 
 }
 .note>* {
  margin: 0
 }
 .pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 8rem 0
 }
 .pagination-link {
  display: inline-block;
  height: 100%;
  display: inline;
  position: relative;
  text-decoration: none
 }
 .pagination-link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor
 }
 .pagination-link:hover {
  color: #999
 }
 .pagination-link--left svg {
  transition: transform .1s ease-in-out
 }
 .pagination-link--left:hover svg {
  transform: translateX(-.33333rem)
 }
 .pagination-link--right {
  text-align: right
 }
 .pagination-link--right svg {
  transition: transform .1s ease-in-out
 }
 .pagination-link--right:hover svg {
  transform: translateX(.33333rem)
 }
 .pagination-lead {
  color: #999
 }
 .pagination-lead,.pagination-title {
  margin: 0
 }
 .pagination-title {
  color: #101010;
  font-size: 1.4rem
 }
 .section {
  position: relative;
  margin: 0 0 4rem
 }
 @media (min-width: 80em) {
  .section {
  margin: 0 0 8rem 
 }
 
 }
 .section-header {
  margin-bottom: 2rem;

  line-height: 1.6
 }
 .section-footer {
  margin-top: 6rem
 }
 .section-footer-link {
  font-size: 1.4rem
 }
 .section-footer-link svg {
  transition: transform .1s ease-in-out
 }
 .section-footer-link:hover svg {
  transform: translateX(.33333rem)
 }
 .section-footer-link {
  display: inline;
  position: relative;
  text-decoration: none
 }
 .section-footer-link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor
 }
 .section-footer-link:hover {
  color: #999
 }
 .section-footer-link svg {
  margin-left: .5rem
 }
 .slats {
  margin: 0 0 3rem;
  list-style: none
 }
 .slats a {
  text-decoration: none
 }
 .slats a:hover {
  color: #999
 }
 .slats--multi-col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between
 }
 .slats--multi-col>* {
  width: 48%
 }
 .slats-item {
  margin: 0;
  padding: 0;
  border-top: 1px solid #ccc
 }
 .slats-item-link,.slats-item-wrapper {
  position: relative;
  display: block;
  padding: 1rem 0
 }
 @media (min-width: 50em) {
  .slats-item-link,.slats-item-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between 
 }
 
 }
 .slats-item-desc,.slats-item-meta,.slats-item-title {
  margin: 0 10% 0 0;
  font-size: 1rem
 }
 .slats-item-title {
  line-height: 1.6
 }
 @media (min-width: 50em) {
  .slats-item-title {
  width: 45% 
 }
 
 }
 @media (min-width: 50em) {
  .slats-item-desc {
  width: 30.3333% 
 }
 
 }
 .slat-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  fill: currentColor
 }
 .social-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none
 }
 .social-header,.social-item {
  font-size: 1rem
 }
 .social-item a {
  color: #999;
  display: inline;
  position: relative;
  text-decoration: none
 }
 .social-item a:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor
 }
 .social-item a:hover {
  color: #999
 }
 .hidden {
  display: none!important
 }
 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap
 }
 .visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit
 }
 .invisible {
  visibility: hidden
 }
 .text-break {
  display: block
 }
 @media (min-width: 50em) {
  .text-break {
  display: inline 
 }
 
 }
 .text-size-lrg {
  font-size: 1.2rem
 }
 @media (min-width: 80em) {
  .text-size-lrg {
  font-size: 1.4rem 
 }
 
 }
 