body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #fff;
  overflow: hidden;
  -webkit-user-select: none;
}

button {
  background: #232323;
  color: #CECECE;
  border: none;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 18px;
  border-radius: 2px;
  cursor: pointer;
}

#askBtn {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.plus-one {
  background: url(../img/plus_one.png);
  width: 38px;
  height: 24px;
  margin: 3px 50px 0 0;
  text-indent: 45px;
  font-weight: bold;
  font-style: italic;
  line-height: 24px;
  cursor: pointer;
}

.presentation-panel .controls {
  position: absolute;
  bottom: 120px;
  left: 10px;
  width: 100%;
}

.presentation-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.close {
  width: 20px;
  height: 20px;
  background: url(../img/widget_icons.png);
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.video-panel .mug {
  position: absolute;
  top: 20px;
  left: 20px;
}

.video-panel p {
  position: absolute;
  text-transform: uppercase;
  font-size: 10px;
  left: 78px;
  top: 6px;
  opacity: .8;
}

.video-panel h4 {
  position: absolute;
  font-size: 13px;
  left: 78px;
  top: 1em;
  opacity: .8;
}

.presentation {
  position: absolute;
  width: 60%;
  height: 50%;
  background: black;
  /* background-image: url(../img/slide.png); */
  background-size: cover !important;
  margin: 50px 10px 10px;
  color: #333;
  font-size: 36px;
}

.timeline-panel {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 95px;
  background: #2b2d2e;
}

.timeline {
  width: 700px;
  height: 10px;
  background-image: url(../img/timeline_segments.png);
  background-size: 100%;
  margin: 56px 10px;
  position: relative;
  border-radius: 5px;
}

.timeline .thumb {
  background: #fff;
  height: 20px;
  width: 10px;
  border: 1px solid #ccc;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  position: absolute;
  top: -6px;
  left: 0;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .33);
}

.following-panel {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 95px;
  background: #2b2d2e;
}

.following-panel p {
  margin: 0 0 10px 0;
}

.following-panel .content {
  padding: 10px;
}

.video-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
  background: none;
}

.video {
  margin: 10px;
}

.video video {
  position: absolute;
  outline: none;
}

.mug {
  width: 48px;
  height: 48px;
  margin-right: 1px;
  float: left;
  background: url(../img/mug.png) #526883;
}

.mugs {
  width: 48px;
  height: 48px;
  margin-right: 1px;
  float: left;
  background: url(../img/mugs.png) #526883;
}

.mugs p,.mug p {
  display: none;
}

.comments-panel {
  position: absolute;
  background: #151515;
  width: 360px;
  height: 100%;
  right: 0;
  top: 0;
  border-left: 10px solid #323232;
}

.comments-panel .content {
  margin: 220px 10px 10px 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.comments-panel .controls {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

ul.comments {
  list-style: none;
  padding: 0;
  color: #D0D0D0;
}

ul.comments li {
  margin: 0 0 10px 0;
  padding: 0 0 36px 0;
  border-bottom: 1px solid #323232;
  position: relative;
  -webkit-user-select: none;
}

.comment .mug,.comment .mugs {
  float: left;
  margin: 0 10px 10px 0;
}

.comment .text {
  float: left;
  width: 240px;
}

.comment .text h4 {
  margin: 0;
}

.comment textarea {
  background: #2b2d2e;
  border: none;
  width: 238px;
  margin: 0 0 0 5px;
  padding: 5px;
  color: #777;
  height: 38px;
  float: left;
  outline: none;
  font-family: Arial, sans-serif;
  resize: none;
}

.comment .arrow {
  border-color: transparent #2b2d2e transparent transparent;
  border-style: solid;
  border-width: 10px;
  width: 0;
  height: 0;
  position: absolute;
  margin: 14px 0 0 -15px;
}

.votes {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 44px;
}

.votes .check {
  width: 12px;
  height: 12px;
  background: url(../img/widget_icons.png) -25px -24px;
  position: absolute;
  border: 1px solid #424242;
  border-radius: 2px;
  top: 0;
  right: -18px;
}

.votes .cross {
  width: 12px;
  height: 12px;
  background: url(../img/widget_icons.png) -4px -24px;
  position: absolute;
  border: 1px solid #424242;
  border-radius: 2px;
  top: 0;
  right: -18px;
}

.bar {
  background: #2D2D2D;
  height: 15px;
  width: 70px;
  padding: 0;
  margin: 0 0 4px -18px;
  position: relative;
}

.bar .percentage {
  background: #424242;
  height: 15px;
  width: 50%;
  padding: 0;
  margin: 0;
}

.g-card {
  position: fixed;
  width: 330px;
  height: 115px;
  background: #fff;
  top: 100px;
  left: 100px;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  display: none;
}

.g-card.up .arrow {
  border-color: transparent transparent #bbb transparent;
  border-style: solid;
  border-width: 10px;
  width: 0;
  height: 0;
  position: absolute;
  margin: -20px 0 0 100px;
}

.g-card.up .inner-arrow {
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 10px;
  width: 0;
  height: 0;
  position: absolute;
  margin: -9px 0 0 -10px;
}

.g-card.down .arrow {
  border-color: #bbb transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -20px;
  margin: 0 0 0 100px;
}

.g-card.down .inner-arrow {
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -9px;
  margin: 0 0 0 -10px;
}

.g-card .mug {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 96px;
  height: 96px;
  background-size: cover;
}

.g-card h4 {
  margin: 0;
  left: 116px;
  top: 10px;
  position: absolute;
}

.g-card h4 a {
  color: #1155cc;
  font-size: 16px;
  font-weight: normal;
}

.g-card p {
  color: #6d6d6d;
  margin: 0;
  left: 116px;
  top: 30px;
  position: absolute;
}

.g-card button {
  background-color: whiteSmoke;
  background-image: -webkit-linear-gradient(top, whiteSmoke, #F1F1F1);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.0976563);
  color: #444;
  font-weight: bold;
  height: 18px;
  line-height: 17px;
  margin: 0px;
  padding: 0px 10px;
  text-align: center;
  position: absolute;
  left: 116px;
  bottom: 20px;
}

.respond {
  bottom: 10px;
  left: 58px;
  position: absolute;
  color: #6E6E6E;
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.question-dialog {
  position: absolute;
  width: 350px;
  background: rgba(0, 0, 0, .8);
  border: 1px solid rgba(255, 255, 255, .25);
  z-index: 100;
  bottom: 120px;
  left: 20%;
  border-radius: 2px;
  display: none;
}

.question-dialog p {
  margin: 15px;
  font-size: 14px;
}

.question-dialog ul {
  list-style: none;
  margin: 0;
  padding: 0 15px 15px 15px;
  line-height: 1.8em;
  font-size: 13px;
}

.question-dialog li input[type='radio'] {
  position: relative;
  top: 2px;
  left: 0;
}

.question-dialog button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.question-dialog li {
  position: relative;
}

.question-dialog .bar span {
  display: none;
}

.question-dialog .bar {
  width: 0;
  position: absolute;
  left: 150px;
  top: 4px;
  display: block;
  font-size: 11px;
  background: none;
}

.question-dialog.answers .bar {
  width: 180px !important;
  -webkit-transition: all 1s ease-in-out;
}

.question-dialog.answers .bar {
  width: auto;
}

.question-dialog.answers .bar span {
  position: absolute;
  top: -3px;
  left: 3px;
  color: rgba(255, 255, 255, .5);
  display: block;
}

.question-dialog.answers input[type='radio'] {
  display: none;
}

.question-dialog.answers button {
  display: none;
}

.comment-icon {
  background: url(../img/insert_comment.png);
  width: 21px;
  height: 21px;
  position: absolute;
  top: 16px;
  left: 10px;
  opacity: .5;
  cursor: pointer;
}

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#slidePreview {
  width: 120px;
  height: 90px;
  border: 1px solid white;
  position: absolute;
  bottom: 55px;
  left: 200px;
  z-index: 100px;
  background: url(../img/slides/10.png);
  background-size: cover !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  display: none;
}

#slidePreview .arrow {
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 7px;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -15px;
  margin: 0 0 0 55px;
}

::-webkit-scrollbar {
  width: 12px;
  background: transparent;
  overflow: visible;
  z-index: 100;
  position: static;
}

::-webkit-scrollbar-thumb:vertical {
  height: 1px;
  background-color: #414243;
  border-left: 6px solid #151515;
}
