<link rel="import" href="/polymer/polymer.html">
<polymer-element name="drive-list-item" attributes="type selected owner date focus" on-click="onClick">
<template>
  <link rel="stylesheet" href="drive-list-item.css">
  <li>
  <div class="card {{type}} {{type != 'folder' ? 'file' : ''}} {{selected == 'true' ? 'selected' : ''}} {{focus == 'true' ? 'focus' : ''}}">
    <template if="{{ type != 'folder' }}">
     <div class="thumb"><div class="thumb-icon"></div></div>
    </template>
    <template if="{{type}}">
      <div class="icon {{type}}"></div>
    </template>
  	<div class="title">{{title}}</div>
    <div class="date">{{date}}</div>
    <div class="owner">{{owner}}</div>
    <div class="clear"></div>
  </div>
  </li>
</template>
<script>
  (function() {
    Polymer('drive-list-item', {
      ready: function() {
        var layoutType = this.getLayoutType();
        this.classList.add(layoutType);
      },
      deselectItem: function() {
        this.selected = '';
      },
      getLayoutType: function() {
        var p = this.parentNode;
        return p.getLayoutType();
      },
      onClick: function() {
        this.toggleSelected();
      },
      toggleSelected: function() {
        var selState = this.selected;
        var p = this.parentNode;

        p.deselectAllItems();
        
        if (selState == 'true') {
          this.selected = '';
        } else {
          this.selected = 'true';
        }
      }
    });
  })();
</script>
</polymer-element>