<!doctype html>
<html>
<head>

  <title>Polymer Prototyping Components</title>
  <script src="../platform/platform.js"></script>

  <link rel="import" href="quantum/quantum-dialog/quantum-dialog.html">

  <link rel="import" href="drive/drive-list/drive-list.html">
  <link rel="import" href="drive/drive-sidebar/drive-sidebar.html">
  <link rel="import" href="drive/drive-sidebar-item/drive-sidebar-item.html">

  <link rel="import" href="sharing/sharing-dialog/sharing-dialog.html">
  <link rel="import" href="sharing/sharing-email/sharing-email.html">
  <link rel="import" href="sharing/sharing-email-snippet/sharing-email-snippet.html">
  <link rel="import" href="sharing/sharing-dialog/sharing-dialog.html">

  <script src="edison/demodata.js"></script>
  <link rel="import" href="edison/elements/edison-mobile-shell/edison-mobile-shell.html">
  
  <!-- UTILITIES -->
  <link rel="import" href="utilities/device-frame/device-frame.html">

  <link rel="import" href="quantum/quantum-circle-loader/quantum-circle-loader.html">
  <link rel="import" href="quantum/quantum-spinner/quantum-spinner.html">

  <style>
    @import url(../assets/css/components.css);
    .mobile-container {
      width: 320px;
      height: 568px;
      position: relative;
      outline: 1px solid #ccc;
    }
  </style>

</head>
<body unresolved>
  <header>
    <h1>Polymer</h1>
    <h2>Prototyping components</h2>
  </header>

  <div id="sidebar">
    <h1>Components</h1>
    <ul>
      <li><a href="#dialogsbuttons">Dialogs and buttons</a>
        <ul>
          <li><a href="#dialog">Dialog</a></li>
          <li><a href="#dialoginput">Dialog with input</a></li>
        </ul>
      </li>
      <li><a href="#loadingindicators">Loading indicators</a>
        <ul>
          <li><a href="#circleloader">Circle loader</a></li>
          <li><a href="#spinner">Spinner</a></li>
        </ul>
      </li>
      <li><a href="#drivecomponents">Drive components</a>
         <ul>
          <li><a href="#gridview">Grid view</a></li>
          <li><a href="#listview">List view</a></li>
          <li><a href="#sidebar">Sidebar</a></li>
        </ul>
      </li>
      <li><a href="#mobiledrivecomponents">Mobile Drive components</a>
      <li><a href="#loadingindicators">Sharing components</a>
         <ul>
          <li><a href="#email">Notification email</a></li>
          <li><a href="#sharingdialog">Sharing dialog</a></li>
        </ul>
      </li>
      <li><a href="#loadingindicators">Utilities</a>
         <ul>
          <li><a href="#deviceframe">Mobile device frame</a></li>
        </ul>
      </li>
      <li><a href="https://uitoolkit.googleplex.com/all/projects/paper-sampler/vulcanized.html">Polymer Team Widgets</a>
      <li><a href="https://code.google.com/a/google.com/p/polytype/source/browse/">Source code</a>
      </li>

      
    </ul>

  </div>

  <div class="page">

  <a name="loadingindicators"></a>
    <a name="dialogsbuttons"></a>
    <h1>Dialogs and buttons</h1>

    <section>
      <a name="dialog"></a>
      <h2>Dialog</h2>
      <p class="author">Author: <a href="https://teams.googleplex.com/#person:u=mishigaki">mishigaki</a></p>
      <quantum-dialog desctext="Would you like to elect Francis Underwood?" ghosttext="Name" canceltext="No" actiontext="Yes" showinput="false"></quantum-dialog>
    </section>

     <section>
      <a name="dialoginput"></a>
      <h2>Dialog with input</h2>
      <quantum-dialog desctext="Where would you like to travel?" ghosttext="Place name" canceltext="Cancel" actiontext="Submit" showinput="true"></quantum-dialog>
    </section>
    

  <a name="loadingindicators"></a>
    <h1>Loading indicators</h1>

    <section>
      <a name="circleloader"></a>
      <h2>Circle loader</h2>
      <quantum-circle-loader></quantum-circle-loader>
    </section>

    <section>
      <a name="spinner"></a>
      <h2>Spinner</h2>
      <quantum-spinner></quantum-spinner>
    </section>

    <a name="drivecomponents"></a>
    <h1>Drive components</h1>

    <section>
      <a name="gridview"></a>
      <h2>Grid view</h2>
      <p class="author">Author: <a href="https://teams.googleplex.com/#person:u=junius">junius</a></p>
      <drive-list view="grid">
      <drive-list-item title="Drive folder 1" type="folder"></drive-list-item>
      <drive-list-item title="Drive folder 2" type="folder"></drive-list-item>
      <drive-list-item title="Drive folder 3" type="folder" selected="true"></drive-list-item>
      <div class="clear"></div>
      <drive-list-item title="Drive file 1" type="doc"></drive-list-item>
      <drive-list-item title="Drive file 2" type="doc"></drive-list-item>
      <drive-list-item title="Drive file 3" type="sheet"></drive-list-item>
      <drive-list-item title="Drive file 4" focus="true" type="slide"></drive-list-item>
    </drive-list>
  </section>

  <section>
    <a name="listview"></a>
    <h2>List view</h2>
    <drive-list view="list">
    <drive-list-item title="Drive folder 1" type="folder" owner="me" date="Feb 20"></drive-list-item>
    <drive-list-item title="Drive folder 2" type="folder" owner="me" date="Feb 20"></drive-list-item>
    <drive-list-item title="Drive folder 3" type="folder" selected="true" owner="me" date="Today"></drive-list-item>
    <div class="clear"></div>
    <drive-list-item title="Drive file 1" owner="me" date="Today" type="doc"></drive-list-item>
    <drive-list-item title="Drive file 2" owner="me" date="Jan 15" type="doc"></drive-list-item>
    <drive-list-item title="Drive file 3" owner="me" date="Jan 9" type="sheet"></drive-list-item>
    <drive-list-item title="Drive file 4" focus="true" class="last" owner="me" date="Today" type="slide"></drive-list-item>
  </drive-list>
</section>

<section>
  <a name="sidebar"></a>
  <h2>Sidebar</h2>
  <drive-sidebar></drive-sidebar>
  <div class="clear"></div>
</section>

<h1>Mobile Drive components</h1>

<section>
  <a name="mobiledrivecomponents"></a>
  <h2>Sidebar, menus, list and grid views for mobile</h2>
  <p class="author">Author: <a href="https://teams.googleplex.com/#person:u=hcokim">hcokim</a> and <a href="https://teams.googleplex.com/#person:u=junius">junius</a></p>

  <div class="mobile-container">
    <edison-mobile-shell sidebaropen="false" showpromo="true"></edison-mobile-shell>
  </div>
 
</section>

<h1>Sharing components</h1>

<section>
  <a name="email"></a>
  <h2>Sharing notification email</h2>
  <p class="author">Author: <a href="https://teams.googleplex.com/#person:u=agarc">agarc</a></p>

  <sharing-email doctitle="J. Peterman Catalog Spring '14 Draft"
  doctype="document"
  filetype="doc"
  docid="1wY5UWVrd8nsxVqzmhyGsIC7vLrzaVAN4ZoYyv3Hchhs"
  action="Edit in Docs"
  permission="edit"
  from="Elaine Benes"
  photo="elaine">Hey can you take a look at this draft? I have a major case of writer's block and Peterman wants this ASAP. Thanks!</sharing-email>

  <sharing-email doctitle="Beautiful wallpaper"
  doctype="folder"
  filetype="folder"
  action="Open"
  permission="edit"
  from="Cosmo Kramer"
  photo="kramer">Jerry, just thought I'd share this folder of wallpapers with you. Please feel free to add your own. I also asked George and Elaine to contribute.  -Cosmo</sharing-email>

  <sharing-email doctitle="The Final Pitch"
  doctype="presentation"
  filetype="slide"
  action="Comment in Slides"
  permission="comment"
  from="George Costanza"
  photo="george">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</sharing-email>

  <sharing-email doctitle="J. Peterman Catalog Spring '14 Draft"
  doctype="document"
  filetype="docos"
  from="Elaine Benes">

  <sharing-email-snippet from="George Costanza" photo="george" quote="I put on my blazer because it was cold outside! The red Himalayan Walking Boots">
  What about this wording? Something about this phrasing doesn't read well. Also, what's up with all the exclamation points?
</sharing-email-snippet>

<sharing-email-snippet from="Richard Lippman" photo="lippman">
Elaine, please. The exclamation points. Get rid of them. Now!
</sharing-email-snippet>

<sharing-email-snippet from="Elaine Benes" photo="elaine">
Lippman, I'm going to fix the exlamation points, but what do you think about the rest of the copy?
</sharing-email-snippet>

</sharing-email>

</section>

<section>
  <a name="sharingdialog"></a>
  <h2>Sharing dialog</h2>
  <p class="author">Author: <a href="https://teams.googleplex.com/#person:u=junius">junius</a></p>
  <sharing-dialog></sharing-dialog>
</section>

<h1>Utilities</h1>

<section>
	<a name="deviceframe"></a>
	<h2>Device frame</h2>
	<p>An iframe container with an outer mobile device skin. Change device attribute to: iphone, gnexus, ipad, nexus10.</p>
  <p class="author">Author: <a href="https://teams.googleplex.com/#person:u=hcokim">hcokim</a></p>
	<device-frame device="gnexus" source="edison/edison.html"></device-frame>
</section>

</div>

</body>
</html>
