<link rel="import" href="../../../polymer/polymer.html">
<link rel="import" href="../drive-list-item/drive-list-item.html">
<polymer-element name="drive-list" attributes="view">
<template>
  <link rel="stylesheet" href="drive-list.css">
  <ul><content id="content"></content></ul>
</template>
<script>
  (function() {
    Polymer('drive-list', {
      ready: function() {

      },
      deselectAllItems: function() {
        var nodes = this.$.content.getDistributedNodes();
        nodes.forEach(function(item) {
          if (item.tagName == 'DRIVE-LIST-ITEM') {
            item.deselectItem();
          }
        }, this);
      },
      getLayoutType: function() {
        return this.view;
      }
    });
  })();
</script>
</polymer-element>