@import
  url(http://fonts.googleapis.com/css?family=Trocchi|Judson|Emilys+Candy|Electrolize|Ubuntu+Condensed)
  ;

.judson {
  font-family: 'Judson', serif;
}

.candy {
  font-family: 'Emilys Candy', cursive;
}

.trocchi {
  font-family: 'Trocchi', serif;
}

.electrolize {
  font-family: 'Electrolize', serif;
}

.ubuntu {
  font-family: 'Ubuntu Condensed', serif;
}

a,a:visited {
  color: #15C;
  text-decoration: none;
}

body {
  background: #fff;
  color: #222;
  font-family: Arial, Helvetica, san-serif;
  font-size: 13px;
  margin: 0;
}

header {
  background: #fff;
  height: 120px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

header h1 {
  font-size: 20px;
  font-weight: normal;
  left: 45px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 25px;
}

.form {
  margin-top: 140px;
}

.highlight {
  border-top: 10px solid #4D90FE;
}

.sortable div {
  background: white;
}

h1.form-name {
  background: rgba(255, 255, 255, .8);
  font-size: 28px;
  margin: 20px auto 0 auto;
  padding: 20px 20px 0 20px;
  text-align: center;
  width: 780px;
  -webkit-user-modify: read-write;
  -webkit-user-select: text !important;
}

.form-desc {
  text-align: center;
  background: rgba(255, 255, 255, .8);
  font-size: 28px;
  margin: 0 auto 0 auto;
  padding: 10px;
  width: 800px;
}

.form-desc input.desc-text {
  background: none;
  text-align: center;
  padding: 5px;
}

h1.form-name:focus {
  outline: 1px solid #4D90FE;
}

.section h2 {
  -webkit-user-modify: read-write;
  -webkit-user-select: text !important;
}

.page {
  position: relative;
}

.pages {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page h1 {
  border: 1px solid transparent;
  font-size: 20px;
  margin: 0 10px 0 10px;
  padding: 5px;
  width: 80%;
}

.page .content {
  padding: 8px 17px 20px 17px;
  -webkit-user-modify: read-write;
  -webkit-user-select: text !important;
  border-bottom: 1px dashed #dadada;
  outline: none;
}

.menu-container {
  position: absolute;
  left: 36px;
  top: 45px;
}

/*
.menu {
  left: 38px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 52px;
}

.menu li {
  float: left;
}

.menu li a {
  cursor: pointer;
  display: block;
  padding: 4px 8px;
}

.menu li a:hover {
  background: #eee;
}

*/
.toolbar {
  background: #F5F5F5;
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  height: 35px;
  width: 100%;
  position: absolute;
  top: 85px;
}

.toolbar a {
  color: #444;
}

.toolbar .divider span {
  border-left: 1px solid #CCC;
  display: inline-block;
  float: left;
  height: 17px;
  margin: 5px 6px 0 6px;
}

.toolbar ul {
  font-size: 11px;
  font-weight: bold;
  list-style: none;
  margin: 5px 4px;
}

.toolbar li {
  float: left;
  margin-right: 8px;
}

.toolbar li a {
  -webkit-transition: all 0.218s;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: block;
  padding: 5px 10px;
  text-align: center;
  background: -webkit-linear-gradient(top, whiteSmoke, #F1F1F1);
}

.toolbar li a:hover {
  border: 1px solid #C6C6C6;
  color: #222;
  background-image: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.toolbar li a:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #EEE, #E0E0E0);
  border: 1px solid #CCC;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
}

.blue {
  border-color: #3079ED;
  background-color: #4D90FE;
  background: -webkit-linear-gradient(top, #4D90FE, #4787ED) !important;
  color: #fff;
}

.green {
  background-color: #3D9400;
  background-image: -webkit-linear-gradient(top, #3D9400, #398A00);
  border: 1px solid #29691D;
  color: white;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}

.page,.summary {
  background: rgba(255, 255, 255, .95);
  border: 1px solid rgba(0, 0, 0, .15);
  margin: 0 auto 20px auto;
  width: 820px;
}

.question {
  border-bottom: 1px dashed #dadada;
  background: #fff;
  cursor: move;
}

.question.selected {
  border-bottom: 1px dashed transparent;
}

.question:hover {
  border-bottom: 1px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  position: relative;
  z-index: 1 !important;
}

.question:hover .question-header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa),
    color-stop(.75, #f8f8f8), color-stop(1, #f2f2f2) );
}

.question .question-title {
  -webkit-user-modify: read-write;
  -webkit-user-select: text !important;
  border: 1px solid rgba(0, 0, 0, 0);
  float: left;
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 2px 0;
  outline: none;
  padding: 5px 50px 5px 5px;
  width: 420px;
}

.edit .question-title {
  background: #fff;
  border-top: 1px solid #c0c0c0;
  border: 1px solid #d9d9d9;
}

.selected .question-title,.selected .question.edit {
  background: #fff;
  border-top: 1px solid #c0c0c0;
  border: 1px solid #d9d9d9;
}

h1.active {
  -webkit-user-modify: read-write;
  -webkit-user-select: text !important;
  border: 1px solid #4D90FE !important;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.question .question-title.active {
  border: 1px solid #4D90FE !important;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-user-modify: read-write !important;
  -webkit-user-select: text !important;
}

.question.selected .answer,.question .answer:hover,.question-title:hover,.desc .desc-text:hover
  {
  border-top: 1px solid #c0c0c0;
  border: 1px solid #d9d9d9;
  vertical-align: middle;
}

.question-header {
  cursor: move;
  display: block;
  height: 30px;
  line-height: 30px;
}

.questions .place-holder {
  border-top: 1px dashed #e9e9e9 !important;
  margin-top: 10px;
  width: 100%;
  height: 0;
}

.question:hover .question-header {
  display: block;
}

.page-header {
  cursor: move;
  height: 30px;
  line-height: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.page:hover .page-header {
  display: block;
}

.answer {
  -webkit-user-modify: read-write;
  -webkit-user-select: text !important;
  border: 1px solid rgba(0, 0, 0, 0);
  font-family: Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  min-width: 200px;
  outline: none;
  padding: 5px 50px 5px 5px;
}

.answer.active {
  background: #fff;
  border: 1px solid #4D90FE !important;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
}

ul.questions {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.questions li {
  margin: 0;
  padding: 0;
  min-height: 1em;
}

ul.answers {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.answers li {
  margin: 0;
  padding: 0;
}

ul.answers li:hover {
  
}

ul.answers li:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.handle {
  background: url(../img/grip_bg.png);
  cursor: move;
  float: left;
  height: 20px;
  margin: 5px 10px 5px 5px;
  width: 8px;
}

.handle.left {
  visibility: hidden;
  margin-left: -2px;
}

.handle.middle {
  width: 32px;
  height: 8px;
  margin: 12px;
  position: absolute;
  left: 385px;
}

.page-header .handle.middle {
  left: 385px;
}

.answer-handle {
  background: url(../img/grip_bg.png);
  cursor: move;
  float: left;
  height: 16px;
  margin: 7px 4px;
  width: 8px;
  visibility: hidden;
}

.selected .answer-handle {
  visibility: visible;
}

input[type=checkbox] {
  left: 1px;
  top: 5px;
}

input[type=radio] {
  -webkit-appearance: none;
  border-radius: 50%;
  border: 1px solid #c6c6c6;
  box-sizing: border-box;
  cursor: default;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.answers input[type=radio] {
  top: 3px;
}

input[type=radio]:checked::after {
  background: #666;
  border-radius: 50%;
  content: '';
  display: block;
  height: 7px;
  left: 3px;
  position: relative;
  top: 3px;
  width: 7px;
}

input[type=checkbox] {
  -webkit-appearance: none;
  border-radius: 1px;
  border: 1px solid #c6c6c6;
  box-sizing: border-box;
  cursor: default;
  height: 13px;
  position: relative;
  width: 13px;
  display: inline-block;
}

input[type=checkbox]:checked::after {
  content: url('../img/check_no_box.png');
  display: block;
  left: -5px;
  position: absolute;
  top: -6px;
}

input[type=text] {
  color: #555;
  font-family: arial, sans-serif;
  margin: 4px 0 0 0;
  width: 96.5%;
  resize: none;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #D9D9D9;
  border-top: 1px solid silver;
  font-size: 13px;
  height: 25px;
  padding: 0 8px;
}

input[type=text]:focus {
  border: 1px solid #3079ED;
  outline: none;
}

.question .answer.text {
  border-top: 1px solid #c0c0c0;
  border: 1px solid #d9d9d9;
  margin-left: 5px;
}

.question .answer.date {
  border-top: 1px solid #c0c0c0;
  border: 1px solid #d9d9d9;
  color: #ccc;
  margin: 0 0 0 5px;
  min-width: 80px;
  width: 80px;
  padding-right: 10px;
  display: inline-block;
  height: 15px;
  position: relative;
  top: -1px;
}

.question-content {
  padding: 10px;
}

.edit.icon {
  background: url(../img/edit.svg);
  cursor: default;
  float: left;
  height: 21px;
  margin: 3px;
  opacity: .67;
  width: 21px;
  position: absolute;
  top: 0;
  left: 14px;
}

.mid-btn .preview-icon-mask {
  position: absolute;
  top: 7px;
  margin-left: 7px;
}

.delete.icon { /* background: url(../img/delete.svg); */
  background: url(../img/close_tab.svg);
  cursor: default;
  float: left;
  height: 21px;
  margin: 4px;
  opacity: .67;
  width: 21px;
}

.toolbar .icon {
  margin-top: 2px;
}

.icon {
  display: block;
}

.undo.icon {
  width: 21px;
  height: 21px;
  background: url(../img/undo.svg);
  opacity: .5;
}

.redo.icon {
  width: 21px;
  height: 21px;
  background: url(../img/redo.svg);
  opacity: .5;
}

.answers li {
  position: relative;
}

.selected .remove.icon {
  background: url(../img/close_tab.svg);
  cursor: default;
  height: 21px;
  margin: 4px 0;
  opacity: .67;
  width: 21px;
  display: inline-block;
  vertical-align: middle;
}

.delete.icon.right {
  float: right !important;
  margin: 5px 2px 5px 2px;
}

.question .delete.icon {
  display: none;
}

.question.selected .delete.icon {
  display: block;
}

.answers li:last-child input[type=radio],.answers li:last-child input[type=checkbox]
  {
  visibility: hidden;
}

.answers input {
  background: none;
}

button {
  background: -webkit-linear-gradient(top, whiteSmoke, #F1F1F1);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #444;
  font-family: Arial, Helvetica, san-serif;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 8px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8),
    border:                              1px solid #C6C6C6;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: #222; to (#f1f1f1) );
  transition: all 0.0s;
}

button:active,button.pressed {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #EEE, #E0E0E0);
  border: 1px solid #CCC;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
}

button.right {
  float: right;
  margin-left: 16px;
}

.controls {
  padding: 15px;
  background: rgba(0, 0, 0, .025);
}

.type {
  float: left;
}

.more {
  background: url(../img/arrow_down.svg);
  float: left;
  height: 21px;
  margin-top: 5px;
  opacity: .67;
  width: 21px;
}

.kd-datepicker {
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  margin: 3px 0 0 -8px;
  opacity: 0;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px;
  position: absolute;
  text-align: left;
  width: 144px;
  z-index: 10;
}

.kd-minicalendar {
  margin-left: -4px;
  width: 148px;
}

.kd-datepicker .kd-minicalendar {
  margin: 0;
  width: 144px;
}

.kd-datepicker.shown {
  display: block;
  opacity: 1;
}

.kd-minicalendar h2 {
  color: #666;
  font-size: 13px;
  padding: 0 0 0 4px;
  width: 100%;
}

.kd-minicalendar h2 .links {
  float: right;
  margin-right: 2px;
}

.kd-minicalendar h2 .links img {
  cursor: default;
}

.kd-minicalendar td,.kd-minicalendar th {
  color: #666;
  cursor: default;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  padding-left: 4px;
  width: 20px;
}

.kd-minicalendar td:hover,.kd-minicalendar td.selected,.kd-minicalendar h2 .links img:hover
  {
  background: #eee;
  color: #333;
}

.kd-minicalendar td.disabled {
  color: #ccc;
}

.kd-minicalendar td.disabled:hover {
  background: none;
  cursor: default;
}

button.date {
  margin: 0 0 0 -5px;
  min-width: 40px;
  width: 40px;
  z-index: 1;
  display: inline-block;
  position: relative;
  top: 3px;
}

.date-icon {
  background: url(../img/schedule_event.svg);
  display: inline-block;
  height: 21px;
  opacity: .5;
  width: 21px;
  position: relative;
  top: 2px;
}

.type-select {
  cursor: pointer;
}

.menu-picker {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10;
}

.menu-picker ul {
  float: left;
  list-style: none;
  margin: 10px;
  padding: 0;
  width: 140px;
}

.menu-picker ul:first-child {
  margin-right: 0;
}

.menu-picker ul a {
  cursor: pointer;
  display: block;
  padding: 5px 10px;
}

.menu-picker ul a:hover {
  background: #ececec;
}

.menu-picker .header {
  color: #999;
  font-size: 11px;
  padding: 5px 10px;
  text-transform: uppercase;
}

textarea {
  background: #fff;
  border-top: 1px solid #c0c0c0;
  border: 1px solid #d9d9d9;
  font-family: Arial, sans-serifs;
  font-size: 13px;
  height: 120px;
  margin-left: 5px;
  outline: none;
  padding: 5px;
  width: 480px;
}

.multi-options {
  background: -webkit-linear-gradient(top, whiteSmoke, #F1F1F1);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #444;
  font-family: Arial, Helvetica, san-serif;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  margin-left: 5px;
  min-width: 54px;
  padding: 0 24px 0 8px;
  position: relative;
  text-align: center;
  display: inline-block;
}

.multi-options-contents {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  height: auto;
  left: 0;
  list-style: none;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 0;
  white-space: nowrap;
  width: 116px;
  margin: 0;
  padding: 10px;
}

.line-options .multi-options-contents {
  position: absolute;
  z-index: 100;
  padding: 5px 0;
}

.multi-icon {
  background: url(../img/disclosure_arrow_dk_grey_up_down.png);
  display: block;
  height: 11px;
  margin-top: 8px;
  width: 7px;
  position: absolute;
  right: 8px;
  top: 0;
}

.scrolling-pane li .multi-options-contents li {
  margin: 0;
  padding: 0;
  line-height: 28px;
  border-bottom: none;
}

.multi-options-contents a,.scrolling-pane li .multi-options-contents a {
  display: block;
  font-size: 13px;
  font-weight: normal;
  padding: 2px 10px;
  width: 100%;
  color: #222;
}

.multi-options-contents a:hover {
  background: rgba(0, 0, 0, .05);
}

.multi-options.show .multi-options-contents {
  display: block;
}

.question.selected {
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
  outline: 1px solid #4D90FE;
  position: relative;
  z-index: 1;
}

.clear {
  clear: both;
}

.clear.pad {
  height: 10px;
}

/* slider */
.kd-slider {
  position: relative;
  width: 137px;
  height: 5px;
  padding: 5px 0;
  margin-bottom: 20px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin-left: 10px;
}

.kd-slider:before {
  content: "";
  display: block;
  width: 141px;
  height: 5px;
  margin-left: -2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #e5e5e5;
}

.kd-slider:hover:before {
  background: #d1d1d1;
}

.kd-slider .kd-sliderhandle {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  background: #999;
  cursor: pointer;
  cursor: col-resize;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: left 0.218s;
}

.kd-slider .kd-sliderhandle-inner {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  background: #999;
  text-align: center;
  text-indent: -9999px;
  line-height: 15px;
}

.kd-slider:hover .kd-sliderhandle-inner {
  background: #fff;
}

.kd-slider .kd-sliderhandle:active {
  background: #535252;
}

.kd-slider:active .kd-sliderhandle {
  -webkit-transition: left 0;
}

.kd-slider .kd-sliderhandle:active .kd-sliderhandle-inner {
  background: #535252;
}

.kd-slider.kd-slider-range .kd-sliderambit {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  margin-top: 5px;
  background: #c6c6c6;
  cursor: pointer;
  cursor: move;
}

.kd-slider.kd-slider-range:hover .kd-sliderambit {
  background: #535252;
}

.kd-slider.kd-slider-range:active .kd-sliderambit {
  background-color: #999;
  background-size: 6px 6px;
  background-position: left -1px;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(135deg, transparent, transparent 3px, #fff 3px, #fff 4px
    , transparent 4px, transparent);
  background-image: -moz-linear-gradient(135deg, transparent, transparent 3px, #fff 3px, #fff 4px,
    transparent 4px, transparent);
  background-image: -o-linear-gradient(135deg, transparent, transparent 3px, #fff 3px, #fff 4px,
    transparent 4px, transparent);
  background-image: linear-gradient(135deg, transparent, transparent 3px, #fff 3px, #fff 4px,
    transparent 4px, transparent);
}

.kd-slider-continuous .kd-sliderhandle {
  width: 17px;
  height: 17px;
  margin-top: -8px;
  margin-left: -8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.kd-slider-continuous .kd-sliderhandle-inner {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.kd-slider-continuous.kd-slider-range .kd-sliderhandle {
  width: 9px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.kd-slider-continuous.kd-slider-range .kd-sliderhandle-inner {
  width: 7px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.kd-slider-continuous.kd-slider-range .kd-sliderhandle-min {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.kd-slider-continuous.kd-slider-range .kd-sliderhandle-min .kd-sliderhandle-inner
  {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.kd-slider-continuous.kd-slider-range .kd-sliderhandle-max {
  margin-left: 0;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.kd-slider-continuous.kd-slider-range .kd-sliderhandle-max .kd-sliderhandle-inner
  {
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.kd-slider-discrete {
  padding-bottom: 26px;
}

.kd-slider-discrete .kd-sliderhandle {
  width: 16px;
  height: 9px;
  margin-top: -18px;
  margin-left: -8px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.kd-slider-discrete .kd-sliderhandle:before {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  border-style: solid;
  border-color: #999 transparent;
  border-width: 8px 8px 0;
}

.kd-slider-discrete .kd-sliderhandle:active:before {
  border-color: #535252 transparent;
}

.kd-slider-discrete .kd-sliderhandle-inner {
  width: 14px;
  height: 8px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.kd-slider-discrete .kd-sliderhandle-inner:before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  border-style: solid;
  border-color: #999 transparent;
  border-width: 7px 7px 0;
}

.kd-slider-discrete:hover .kd-sliderhandle-inner {
  background: #fff;
}

.kd-slider-discrete:hover .kd-sliderhandle-inner:before {
  border-color: #fff transparent;
}

.kd-slider-discrete .kd-sliderhandle:active .kd-sliderhandle-inner:before {
  border-color: #535252 transparent;
}

.kd-slider-discrete.kd-slider-range .kd-sliderhandle {
  width: 8px;
}

.kd-slider-discrete.kd-slider-range .kd-sliderhandle-inner {
  width: 6px;
}

.kd-slider-discrete.kd-slider-range .kd-sliderhandle-min {
  margin-left: -7px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
}

.kd-slider-discrete.kd-slider-range .kd-sliderhandle-min:before {
  border-width: 8px 0 0 8px;
}

.kd-slider-discrete.kd-slider-range .kd-sliderhandle-min .kd-sliderhandle-inner
  {
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
}

.kd-slider-discrete.kd-slider-range .kd-sliderhandle-min .kd-sliderhandle-inner:before
  {
  border-width: 6px 0 0 6px;
}

.kd-slider-discrete.kd-slider-range .kd-sliderhandle-max {
  margin-left: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
}

.kd-slider-discrete.kd-slider-range .kd-sliderhandle-max:before {
  border-width: 8px 8px 0 0;
}

.kd-slider-discrete.kd-slider-range .kd-sliderhandle-max .kd-sliderhandle-inner
  {
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
}

.kd-slider-discrete.kd-slider-range .kd-sliderhandle-max .kd-sliderhandle-inner:before
  {
  border-width: 6px 6px 0 0;
}

.kd-slider-discrete .kd-sliderruler {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  height: 18px;
  margin: 0;
  padding: 0;
}

.kd-slider-discrete .kd-sliderstep {
  display: block;
  position: relative;
  float: left;
  width: 9px;
  height: 10px;
  padding-top: 8px;
  margin-left: 12px;
  margin-right: -4px;
  text-align: center;
  font-size: 12px;
  color: #343434;
}

.kd-slider-discrete .kd-sliderstep:first-child {
  margin-left: -4px;
}

.kd-slider-discrete .kd-sliderstep:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 4px;
  width: 1px;
  height: 5px;
  background: #d0d0d0;
}

.kd-slider-discrete .kd-sliderstep-minor {
  text-indent: -9999px;
}

.kd-slider-discrete .kd-sliderstep-minor:before {
  height: 2px;
}

.toolbar .right {
  float: right !important;
  margin-right: 44px;
}

.hidden {
  display: none;
}

.dog-ear {
  padding: 5px 10px;
  background: rgba(0, 0, 0, .1);
  float: left;
  text-transform: uppercase;
  font-size: 10px;
  position: absolute;
}

.confirmation h1 {
  margin-top: 35px;
}

.confirmation button.blue {
  min-width: 80px;
}

.header-controls {
  position: absolute;
  right: 44px;
  top: 30px;
}

.header-controls button {
  float: left;
  height: 28px;
}

.header-controls button.blue {
  min-width: 68px;
}

.first-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  z-index: 1;
  margin-right: -3px
}

.last-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0 20px 0 -3px;
}

.blue.last-btn {
  margin-right: 0;
}

button.blue:active, button.green:active {
  color: #fff;
}

.header-controls button .label {
  float: left;
  margin-right: 5px;
  display: block;
}

.header-controls button .icon {
  margin: 3px 5px 0 2px;
}

.chart-icon-mask {
  -webkit-mask: url(../img/chart.svg);
  background: #4D4D4D;
  cursor: default;
  float: left;
  height: 21px;
  margin: 3px 5px 0 6px;
  opacity: 1;
  width: 21px;
  position: absolute;
  top: 1px;
}

.share-icon-mask {
  -webkit-mask: url(../img/anyone_with_link.svg);
  background: #fff;
  cursor: default;
  float: left;
  height: 21px;
  margin: 3px 5px 0 0;
  opacity: 1;
  width: 21px;
}

.email-icon-mask {
  -webkit-mask: url(../img/email.svg);
  background: #fff;
  cursor: default;
  float: left;
  height: 21px;
  margin: 3px 5px 0 0;
  opacity: 1;
  width: 21px;
}

.preview-icon-mask {
  -webkit-mask: url(../img/preview.svg);
  background: #4D4D4D;
  cursor: default;
  float: left;
  height: 21px;
  margin: -3px 5px 0 -3px;
  opacity: 1;
  width: 21px;
}

.newpage-icon-mask {
  -webkit-mask: url(../img/page.svg);
  background: #6F6F6F;
  cursor: default;
  float: left;
  height: 21px;
  margin: -4px 4px 0 -3px;
  opacity: 1;
  width: 21px;
}

.question-icon-mask {
  background: url(../img/question.png);
  cursor: default;
  float: left;
  height: 12px;
  margin: 1px 7px 0 -2px;
  opacity: .5;
  width: 12px;
}

.new-question {
  float: left;
}

.section-icon-mask {
  -webkit-mask: url(../img/section.svg);
  background: #6F6F6F;
  cursor: default;
  float: left;
  height: 21px;
  margin: -4px 4px 0 -3px;
  opacity: 1;
  width: 21px;
}

.placeholder {
  color: #999;
}

.question-settings {
  padding-top: 5px;
}

.question-settings .question-item label {
  margin-left: 2px;
  text-transform: uppercase;
  font-size: 10px;
}

.question-item {
  padding-bottom: 5px;
}

.question-settings.closed .advanced-settings {
  background: none;
  cursor: pointer;
}

.question-settings .advanced-settings {
  background: #F0F0EE;
  cursor: pointer;
}

.question-settings .advanced-settings label {
  cursor: pointer;
  text-decoration: underline;
}

.question-item {
  padding: 5px 10px 5px 5px;
  display: inline-block;
  vertical-align: bottom;
}

.question-item .more {
  margin-top: 3px;
  width: 12px;
  height: 12px;
  background-position: -6px -4px;
}

.question-settings.closed .more {
  -webkit-transform: rotate(-90deg);
  background-position: center;
}

.send-btn .label {
  margin-left: 7px;
}

/* control-panel */
.question-settings.closed .control-panel { /*
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: none;*/
  display: none;
}

.question-settings .control-panel {
  background: #F0F0EE;
  border: 1px solid #DBDBD9;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1) inset;
  padding: 10px;
  /* -webkit-transition: all .2s ease-in-out; */
}

.control-panel h4 {
  color: #777;
  text-transform: uppercase;
  margin: .5em 0;
  font-weight: normal;
  font-size: 10px;
}

.control-panel p {
  
}

.control-panel h4:first-child {
  margin-top: 0;
}

.control-panel hr {
  border: none;
  border-top: 1px solid #D4D4D4;
  margin-top: 10px;
  margin-bottom: 10px;
}

.control-panel .col {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
}

.control-panel a {
  color: #1155CC;
}

.config-date label {
  width: 60px;
  display: inline-block;
}

.col ul {
  list-style: none;
  padding: 0;
  line-height: 2.2em;
  margin-top: 10px;
}

.col input[type=radio] {
  top: 4px;
}

.textarea-options {
  width: 200px;
  margin: 0;
}

.other-user-input label {
  position: relative;
}

.button-group {
  position: relative;
  left: -5px;
}

.button-group button {
  margin: 0;
  border-radius: 0;
}

.button-group button:first-child {
  position: relative;
  left: 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.button-group button:last-child {
  position: relative;
  left: -5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.questions li,.page {
  opacity: 1;
}

.questions li.highlight-insertion,.page.highlight-insertion {
  outline: 1px solid red !important;
  opacity: 0;
  position: relative;
  z-index: 1;
}

/* Theme dialog */
.dialog-bg {
  background: rgba(255, 255, 255, .5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.dialog {
  border: 1px solid #A9A9A9;
  box-shadow: 0 0 20px rgba(0, 0, 0, .25);
  position: fixed;
  background: #fff;
  padding: 35px 45px;
  z-index: 100;
}

.dialog.theme {
  width: 710px;
  top: 150px;
  left: 50%;
  margin-left: -400px;
}

.dialog.share {
  top: 150px;
  width: 510px;
  left: 50%;
  margin-left: -300px;
}

.dialog.send {
  top: 150px;
  width: 510px;
  left: 50%;
  margin-left: -300px;
}

.dialog.access {
  top: 180px;
  width: 510px;
  left: 50%;
  margin-left: -300px;
}

.dialog h2 {
  font-weight: normal;
  margin: 0 0 25px 0;
  font-size: 16px;
}

.dialog .scroll-pane {
  border: 1px solid #EBEBEB;
  width: 100%;
  height: 350px;
  overflow: hidden;
  overflow-y: scroll;
}

.button-confirm-group {
  margin-top: 25px;
}

.button-confirm-group button {
  min-width: 70px;
  margin-right: 10px;
}

.theme-thumb {
  border: 2px solid #DDDDDD;
  width: 148px;
  height: 110px;
  float: left;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 110px;
}

.theme-thumb.selected {
  border: 2px solid #0096FD;
}

/* scroll bar */
::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.questions .ui-sortable-helper {
  box-shadow: 0 0 15px rgba(0, 0, 0, .33);
}

.uneditable {
  background: url(../img/etching-image.png) !important;
}

.form-description {
  margin: 0 10px 5px 10px;
}

.desc {
  padding: 0 5px 10px 7px;
  display: block;
  font-size: 11px;
  display: block;
  width: 780px;
}

.desc a {
  color: #3079ED;
  text-decoration: none;
}

.desc .desc-text {
  -webkit-user-modify: read-write;
  -webkit-user-select: text !important;
  border: 1px solid rgba(0, 0, 0, 0);
  font-family: Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  width: 400px;
  outline: none;
  padding: 5px 50px 5px 5px;
  vertical-align: middle;
}

.selected .desc .desc-text {
  border-top: 1px solid #c0c0c0;
  border: 1px solid #d9d9d9;
}

.scroll-pane-title {
  margin-top: 15px;
  display: block;
}

.scrolling-pane {
  max-height: 240px;
  border-top: 1px solid #EBEBEB;
  margin: 5px 0;
  overflow: hidden;
  overflow-y: scroll;
}

.scrolling-pane ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.scrolling-pane ul li {
  border-bottom: 1px solid #EBEBEB;
  padding: 10px 0;
  margin: 0;
  line-height: 28px;
  position: relative;
}

.access .scrolling-pane ul li {
  line-height: 18px;
}

.access input[type=radio] {
  float: left;
  margin: 10px 15px 0 0;
}

.access .scrolling-pane .mug {
  margin-top: 4px;
}

.scrolling-pane .mug {
  width: 28px;
  height: 28px;
  background: #F5F5F5;
  float: left;
  margin-right: 15px;
}

.scrolling-pane .line-info {
  float: left;
}

.sub-pane {
  background: #F5F5F5;
  padding: 15px;
}

.scrolling-pane a {
  text-decoration: none;
  color: #15C;
}

.scrolling-pane .line-options {
  position: absolute;
  left: 355px;
  background: #fff;
  margin-top: -1px;
}

.scrolling-pane .line-options a span {
  float: left;
}

.scrolling-pane .email {
  color: #666;
  margin-left: 5px;
}

.scrolling-pane .remove.icon {
  background: url(../img/close_tab.svg);
  cursor: default;
  height: 21px;
  margin: 4px 0;
  opacity: .67;
  width: 21px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 5px;
}

.dropdown .icon {
  width: 10px;
  background: url(../img/sharing_sprite.png);
  background-position: -454px 0;
  width: 16px;
  height: 16px;
  float: left;
  position: absolute;
  top: 7px;
  right: 5px;
}

.org.icon {
  background-image: url(../img/sharing_sprite.png);
  background-position: -560px 0;
  width: 21px;
  height: 21px;
  opacity: .55;
  margin: 4px;
}

.public.icon {
  background-image: url(../img/sharing_sprite.png);
  background-position: -497px 0;
  width: 21px;
  height: 21px;
  opacity: .55;
  margin: 4px;
}

.private.icon {
  background-image: url(../img/sharing_sprite.png);
  background-position: -581px 0;
  width: 21px;
  height: 21px;
  opacity: .55;
  margin: 4px;
}

.person.icon {
  background-image: url(../img/sharing_sprite.png);
  background-position: -472px 0px;
  width: 21px;
  height: 21px;
  opacity: .55;
  margin: 4px;
}

.editor-info {
  color: #999;
  font-size: 11px;
  margin: 15px 0 0 0;
}

.access .editor-info {
  margin: 0;
}

.editor-info-large {
  color: #999;
  font-size: 12px;
  margin: 15px 0 0 0;
}

.editor-info.optional-message {
  margin-top: 2px;
}

.sub-pane .edit-instructions {
  color: #999;
}

.add-people-field {
  margin: 5px 0 0 0;
  width: 97.8%;
  height: 50px;
}

.optional-message-pane {
  margin-top: 10px;
  display: none;
}

.optional-message-field {
  margin: 5px 0 0 0;
  width: 97.8%;
  height: 50px;
}

.dropdown {
  float: left;
  display: block;
  padding: 0 24px 0 8px;
  border: 1px solid transparent;
}

.dropdown:hover {
  border: 1px solid rgba(17, 85, 204, .8);
  border-top: 1px solid rgba(17, 85, 204, .5);
  background: #fff;
}

.dropdown-container .dropdown {
  padding: 6px 24px 6px 8px;
}

.dropdown-container {
  position: absolute;
  left: 340px;
  top: 36px;
  display: none;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-container .multi-options-contents {
  padding: 4px 0;
  line-height: 28px;
}

.link-field {
  width: 69% !important;
}

.copy-link-button {
  margin-left: 0;
  position: relative;
  left: -5px;
  top: -1px;
}

.embed-button {
  position: relative;
  top: -1px;
}

.sub-pane-options {
  display: none;
}

.sub-pane-options .left-options {
  float: left;
  margin-top: 5px;
}

.sub-pane-options .right-options {
  float: right;
  margin-right: 5px;
}

.share-link {
  color: #666;
  margin: 5px 0;
  display: inline-block;
}

.choose-contacts-link {
  margin-left: 10px;
}

.right {
  float: right;
}

.left {
  float: left;
}

/*------------------------------------------------------------------
Component: Tooltips
------------------------------------------------------------------*/

.kd-tooltip {
  pointer-events: none; /* can't click on a tooltip */
  display: block;
  position: absolute;
  background: #2d2d2d;
  top: -5px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  outline: 1px solid rgba(255,255,255,0.5);
  height: 29px;
  line-height: 29px;
  margin-left: -20px;
  padding: 0 10px;
  font-size: 11px;
  z-index: 2000;
  opacity: 0.0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.13s;
  -moz-transition: opacity 0.13s;
  -o-transition: opacity 0.13s;
  transition: opacity 0.13s;
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  top: 35px;
}

.kd-tooltip .pointer {
  outline: none;
  display: block;
  position: absolute;
  top: -5px;
  left: 24px;
  margin: 0 0 0 -5px;
  width: 0;
  height: 0;
  line-height: 0px;
  font-size: 0px;
  /* This sets the tooptip pointer color */
  border-top: transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #2d2d2d;
}

button:hover > .kd-tooltip,
span:hover > .kd-tooltip {
  opacity: 1.0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
