<link rel="import" href="../../../polymer/polymer.html">
<polymer-element name="quantum-dialog" attributes="desctext ghosttext canceltext actiontext showinput" on-click="onClick">
<template>
	<link rel="stylesheet" href="quantum-dialog.css" />



    <div class="modal">
      <div class="modal_content">
        <div class="modal_title">
          {{desctext}}
        </div>
        <div class="modal_body">
          <div class="modal_dialog_text">

            <!-- BEGIN: Quantum-style floating label input. -->
            <template if="{{showinput == 'true'}}">
            <div class="input_label_pair">
              <label id="floatingLabel" for="intro_site_title_input" class="floating_label floating_label_hidden">
                {{ghosttext}}
              </label>
              <input id="intro_site_title_input" class="modal_text_input stacked_modal_text_input_margin" type="text">
            </div>
          </template>
            <!-- END: Quantum-style floating label input. -->

          </div>
          <div class="modal_dialog_buttons">
            <button id="intro_cancel_button">
              {{canceltext}}
            </button>
            <button id="intro_ok_button" class="blue_button">
              {{actiontext}}
            </button>
          </div>
        </div>
      </div>
      <div class="modal_drag_handle modal_drag_handle_n">
      </div>
      <div class="modal_drag_handle modal_drag_handle_s">
      </div>
      <div class="modal_drag_handle modal_drag_handle_e">
      </div>
      <div class="modal_drag_handle modal_drag_handle_w">
      </div>
      <div class="modal_close">
      </div>
    </div>



</template>
<script>
	(function(){
		Polymer('quantum-dialog', {
			ready: function(){
				
			},
      onClick: function(e) {
        if (e.srcElement.classList.contains('modal_text_input')) {
          this.$.floatingLabel.classList.remove('floating_label_hidden');
        }
      }
		})
	})();
</script>
</polymer-element>