@CHARSET "UTF-8";

.menu-bar {
  top: 4px;
  display: inline-block;
  position: relative;
  font: 13px arial, sans-serif;
  cursor: default;
  
  /* prevent focus from adding outline */
  outline: none;
  
  /* prevent clicking from highlighting stuff */
  -khtml-user-select: none;
}

.menu-button {
  display: inline-block;
  padding: 6px 8px;
  position: relative;
  border: 1px solid transparent;
  
}

.menu-button:hover {
  background: #eee;
}

.active.menu-button {
  background: #fff;
  color: #222;  
  border: 1px solid #bbb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);  
}

.menu-button .mask {
  position: absolute;
  display: none;
  margin: 5px 0 0 -8px;
  height: 1px;
  /* width set by menubar.js */
  z-index: 2; /* higher than menu */
  background: #fff;  
}

.active.menu-button .mask {
  display: block;
}
