:host {
   
   /* ease out quart */
}
:host.in {
}
:host.stageleft {
	left: -100%;
}
:host.out {
	opacity: 0;
}

/* GENERAL STYLES */
.file {
  font-size: 12px;
  background: white;
  border-radius: 2px;
  position: relative;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  cursor: pointer;
  opacity: 0;
  left: 80px;
}

:host.in .file {
	opacity: 1;
	left: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.file:active {
  background: #EEE;
}

.file.hidden {
	opacity: 0;
	-webkit-transition: opacity 0.2s;
}

.file > * {
/*  float: left;*/
  -webkit-box-sizing: border-box;
}

.file .expand {
  height: 24px;
  width: 24px;
  padding: 10px;
  position: absolute;
  right: 8px;
  top: 12px;
  background-image: url(img/expand.svg);
}

.file .icon {
	float: left;
  height: 44px;
  padding: 10px;
}

.file .name {
	float: left;
  line-height: 44px;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.file .icon.folder {
  background-image: url(img/folder.svg);
  height: 44px;
  width: 44px;
  display: inline-block;
  background-position: center;
}

.file .icon.doc {
  background-image: url(img/doc.svg);
  height: 44px;
  width: 44px;
  display: inline-block;
  background-position: center;
}

/* LIST ITEM STYLES */
.file.list {
  min-height: 44px;
  width: 96%;
  margin: 2%;
  margin-bottom: 0;
}
.file.list .thumb {
  display: none;
}

/* GRID ITEM STYLES */
.file.grid {
	height: 144px;
	width: 48%;
	margin: 1%;
	float: left;
}

.file.grid .icon {

}

.file.grid .name {
  position: absolute;
  bottom: 0;
  margin-left: 42px;
  width: calc(100% - 72px);
}

.file.grid .thumb {
  background-color: #ccc;
  height: 100px;
  width: 100%;
}

.file.grid .expand {
	top: auto;
	bottom: 10px;
}