<html>
<head>
<title>Trix Gamefication</title>
<link rel="stylesheet" href="/static/game.css" type="text/css">
<script src="/static/js/jquery-1.7.2.min.js"></script>
<script src="/static/js/game.js"></script>
<!-- <script src="/static/js/update.js"></script> -->
<!-- <script src="js/skills.js"></script> -->

</head>
<body>
  <div class="skills">
    <div class="overlay">
      <div class="profile">
        <div class="mug"></div>
        <div class="person-desc">
          <h4>John Doe</h4>
          <p>{{ earnedSkills }} Skills | {{ earnedBadges }} Badges</p>
        </div>
        <div class="menu-button">
          <div class="icon-wrapper">
            <div class="icon menu-state skills"></div>
          </div>
          <div class="menu-arrow"></div>
          <div class="menu">
            <div class="arrow">
              <div class="inner-arrow"></div>
            </div>
            <ul>
              <li><div class="icon person"></div> <a href="/profile.html">My profile</a></li>
              <li><div class="icon skills"></div> <a href="/skills.html">All skills</a></li>
              <li><div class="icon badge"></div> <a href="/badges.html">All badges</a></li>
            </ul>
          </div>
        </div>
        <div class="break"></div>
      </div>
      
        {% ifequal earnedSkills 1 %}
        <div class="info">
          <h4>Congratulations!</h4>
          <p>You just earned your first skill for creating a presentation! See what other skills you can earn...</p>
        </div>
        {% endifequal %}
      
      <div class="divider"></div>
      <div class="tasks">
        {% for skill in skills %}
          <a href="/skill_info/{{ skill.name }}">
          {% if skill.enabled %}
            <div class="circle" style="background: {{ skill.color }}">
          {% else %}
            <div class="circle" style="background: #B3AEC2">
          {% endif %}
              <div class="ring-first">
                <div class="ring-second"></div>
              </div>
              
              {% if skill.enabled %}
                <div class="icon {{ skill.icon }}" style="background: {{ skill.color }}"></div>
                <div class="circle-desc" style="color: {{ skill.color }}">{{ skill.name }}</div>
              {% else %}
                <div class="icon {{ skill.icon }}" style="background: #B3AEC2"></div>
                <div class="circle-desc" style="color: #B3AEC2">{{ skill.name }}</div>
              {% endif %}
            </div>
          </a>
        {% endfor %}
       
        <div class="break"></div>
      </div>
    </div>
  </div>
</body>
</html>