@font-face {
	font-family: 'roboto-thin';
	src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
	font-family: 'roboto-regular';
	src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'roboto-bold';
	src: url('../fonts/Roboto-Bold.ttf');
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html,body {
	background-image: url(../img/blue-yellow-gradient.png);
	background-size: cover;
	color: white;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'roboto-thin', Arial;
	min-width: 320px;
	min-height: 480px;
	margin: 0;
}

h1 {
	font-family: 'roboto-thin', Arial;
	font-size: 20pt;
	font-weight: normal;
	margin: 0;
}

h4 {
	font-family: 'roboto-thin', Arial;
	font-size: 13pt;
	font-weight: normal;
	margin: 0;
}

.msg {
	width: 100%;
	text-align: center;
	padding: 1em;
	-webkit-transition: all 1.5s ease;
}

.msg.fade-out {
	-webkit-transition: all 1.5s ease;
	opacity: 0;
}

.msg h4 {
	margin-top: .33em;
}

.fixed-bg {
	position: fixed;
	background-image: url(../img/blue-yellow-gradient.png);
	background-size: cover;
	width: 100%;
	height: calc(100%);
}

.shadow {
	position: fixed;
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	-webkit-transition: all .35s ease;
}

.shadow.hide {
	opacity: 0;
	-webkit-transition: all .35s ease;
}

.scrollable {
	position: absolute;
	width: 100%;
}

.card {
	position: relative;
	width: 100%;
	height: calc(100%);
	outline: none;
}

.no-overflow {
	width: 100%;
	overflow: hidden;
}

.nexus4 {
	background-image: url(../img/nexus4.png);
	background-size: cover;
	width: calc(638px/ 2);
	height: calc(1202px/ 2);
	position: absolute;
	left: calc(50% - 638px/ 4 + 8px);
	-webkit-transform: translateZ(0);
	-webkit-transition: all 1s ease;
}

.nexus4.menagerie {
	-webkit-transform: scale(.25) translateX(-150%) translateY(655%);
	-webkit-transition: all 1s ease;
	opacity: 0;
}

.welcome-card .nexus4 {
	bottom: calc(-50%);
}

.welcome-card .msg {
	position: relative;
	top: 30%;
}

.keep-card .msg {
	position: absolute;
	bottom: 25%;
}

.bring-card .msg {
	position: absolute;
	bottom: 10%;
}

.overflow-container {
	position: absolute;
	width: 100%;
	height: 225%;
	top: -50%;
	left: 0;
	overflow: hidden;
}

.devices {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: -15%;
}

.small-nexus4 {
	background-image: url(../img/small-nexus4.png);
	background-size: cover;
	width: calc(176px/ 2);
	height: calc(333px/ 2);
	position: absolute;
	top: calc(10% + 210px);
	left: calc(50% - 176px/ 4 - 90px);
	-webkit-transition: all .5s ease;
}

.small-nexus4.show-share {
	top: calc(60%);
	left: calc(50% - 176px/ 4);
	-webkit-transform: translateZ(0) scale(3);
	-webkit-transition: all .5s ease-in-out;
}

.small-nexus4.share-screen {
	background-image: url(../img/nexus-share.png);
	-webkit-transition: all .5s ease-in-out;
}

.nexus7 {
	background-image: url(../img/nexus7.png);
	background-size: cover;
	width: calc(324px/ 2);
	height: calc(561px/ 2);
	position: absolute;
	top: calc(10% + 90px);
	left: calc(50% - 324px/ 4 - 180px);
	-webkit-transition: all .5s ease;
}

.laptop {
	background-image: url(../img/laptop.png);
	background-size: cover;
	width: calc(1148px/ 2);
	height: calc(669px/ 2);
	position: absolute;
	top: calc(10%);
	left: calc(50% - 1148px/ 4 + 80px);
	-webkit-transition: all .55s ease-out;
}

.big {
	-webkit-transform: translateZ(0) scale(2);
	-webkit-transition: all .35s ease-out;
}

.from-right {
	-webkit-transform: translateX(calc(100%)) scale(.5);
	-webkit-transition: all .55s ease-out;
}

.fade-out {
	opacity: 0;
	-webkit-transition: all .35s ease-in-out;
}

.share-card .msg {
	position: absolute;
	bottom: 5%;
}

.drive-logo {
	background-image: url(../img/drive-logo.png);
	background-size: cover;
	height: calc(419px/ 2);
	width: calc(472px/ 2);
	top: calc(50% - 419px/ 4);
	left: calc(50% - 472px/ 4);
	position: fixed;
	-webkit-transform: translateZ(0);
	-webkit-transition: all .35s ease-in-out;
}

.drive-logo.small {
	-webkit-transform: translateY(-100%) translateZ(0) scale(.5);
	-webkit-transition: all .35s ease-in-out;
}

.swipe {
	width: 100%;
	margin-top: 58%;
}

.swipe h5 {
	width: 100%;
	font-weight: normal;
	text-align: center;
	margin: 8px 0;
}

.swipe-up {
	background-image: url(../img/swipe-up.png);
	background-size: cover;
	height: calc(96px/ 2);
	width: calc(96px/ 2);
	margin: 0 auto;
}

.arrow {
	width: 100%;
	position: absolute;
	bottom: 5%;
}

.arrow-up {
	background-image: url(../img/arrow-up.png);
	background-size: cover;
	height: calc(22px/ 2);
	width: calc(38px/ 2);
	margin: 0 auto;
}

.cards {
	position: absolute;
	width: 100%;
	height: 500%;
	overflow: hidden;
}

.scroll-stopper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}