:host {
  -webkit-user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

:host.dragging #items .selected {
  opacity: .67;
}


:host.dragging #dragOverlay #overlayItems .selected {
  opacity: 1;
}

.grid .folder .contents {
  background: #fff;
}

.grid .folder .droptarget .contents, .list .folder .droptarget .contents {
  background: #c6dcff;
  box-shadow: 0 0 2px 2px rgba(77,144,254,.4) inset;
}

.droptarget .contents {
  box-shadow: none !important;
}

.contents {
  overflow: hidden;
  pointer-events:none;
}

#dragOverlay .header{
  visibility: hidden;
}

ul.grid, #dragOverlay.grid ul {
  padding: 15px;
  list-style: none;
  width: calc(100% - 30px);
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .2s;
}

.grid li, #dragOverlay.grid li {
  position: relative;
  height: 178px;
  float: left;
  width: calc(25% - 20px);
  margin: 10px;
  -webkit-transition: all .2s;
}

@media (min-width: 0) and (max-width: 640px) {
  .grid li, #dragOverlay.grid li {
    width: calc(50% - 20px);
  }
}

@media (min-width: 640px) and (max-width: 950px) {
  .grid li, #dragOverlay.grid li {
    width: calc(33% - 20px);
  }
  .compact .grid li, .compact #dragOverlay.grid li {
    width: calc(25% - 20px);
  }
  .sidebar-closed .grid li, .sidebar-closed #dragOverlay.grid li {
    width: calc(25% - 20px);
  }
}

@media (min-width: 950px) and (max-width: 1280px) {
  .grid li, #dragOverlay.grid li {
    width: calc(25% - 20px);
  }
  .compact .grid li, .compact #dragOverlay.grid li {
    width: calc(20% - 20px);
  }
  .sidebar-closed .grid li, .sidebar-closed #dragOverlay.grid li {
    width: calc(20% - 20px);
  }
  .details-open .grid li, .details-open #dragOverlay.grid li {
    width: calc(33% - 20px);
  }
}

@media (min-width: 1280px) {
  .grid li, #dragOverlay.grid li {
    width: calc(20% - 20px);
  }
  .compact .grid li, .compact #dragOverlay.grid li {
    width: calc(16.6% - 20px);
  }
  .sidebar-closed .grid li, .sidebar-closed #dragOverlay.grid li {
    width: calc(16.6% - 20px);
  }
  .details-open .grid li, .details-open #dragOverlay.grid li {
    width: calc(25% - 20px);
  }
}

.grid li.folder, #dragOverlay.grid li.folder {
  height: 46px;
}

#dragOverlay.grid .contents {
  border: 1px solid #ccc;
}

.grid .contents {
  width: calc(100%);
  height: calc(100%);
  border: 1px solid #D4D4D4;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.grid .icon-container {
  margin-left: 8px;
}

.grid .folder .selected.contents {
  border: 1px solid transparent !important;
}

.grid .file .contents {
  border: none;
  box-shadow: none;
}

.grid .file .contents .icon {
  margin-left: -12px;
}

#dragOverlay.grid .file .contents .icon {
  margin-left: 0;
}

.grid .thumb, #dragOverlay.grid .thumb  {
  width: calc(100% - 2px);
  height: 132px;
  background-color: #eee;
  background-size: cover;
  border: 1px solid #d8d8d8;
  pointer-events:none;
}

.grid li.folder-divider,  #dragOverlay.grid li.folder-divider {
  width: 100%;
  height: 0;
}

.grid .icon {
  background: none;
  width: 44px;
  height: 44px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events:none;
}

.grid .title {
  font-size: 13px;
  width: 55%;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  overflow: hidden;
  pointer-events:none;
  line-height: 20px;
}

#dragOverlay.grid .icon {
  background: none;
  width: 30px;
  height: 30px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events:none;
}

#dragOverlay.grid .title {
  width: 88px;
  font-size: 13px;
  line-height: 20px;
  margin: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  pointer-events:none;
  color: #444;
}

.grid .owner, #dragOverlay.grid .owner {
  display: none;
}

.grid .date, #dragOverlay.grid .date {
  display: none;
}

#dragOverlay.grid {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  pointer-events:none;
  z-index: 100;
}

#dragOverlay.grid.show, #marquee.show {
  display: block;
}

#dragOverlay.grid li .contents {
  visibility: hidden;
  -webkit-transition: all .5s;
}

#dragOverlay.grid li .selected .contents {
  visibility: visible;
  -webkit-transition: all .5s;
  background: #fff;
  color: #444;
}

#dragOverlay.grid .rotate .thumb {
  margin-top: -1px;
  -webkit-transition: all .5s;
  height: 0;
}

#dragOverlay.grid li polymer-drive-list-item  {
  -webkit-transition: all .5s;
  left: 0;
  top: 0;
}

ul.list, #dragOverlay.list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .2s;
}

.list li, #dragOverlay.list li {
  position: relative;
  width: 100%;
  height: 60px;
  float: left;
  margin: 0;
  -webkit-transition: all .2s;
}

.compact .list li {
  height: 32px !important;
}

.compact .list .icon {
  -webkit-filter: none !important;
  width: 32px;
  height: 32px;
  margin: 0 9px 0 18px;
}

.compact .list .folder .icon {
  opacity: .5 !important;
}

.compact .list .icon-container {
  background-color: transparent !important;
  width: auto;
  height: auto;
  margin: 0;
  border-radius: 0;
}

.compact .list .title, .compact .list .owner, .compact .list .date {
  line-height: 32px;
  height: 32px;
}

.compact .list .folder-divider {
  display: none;
}

#dragOverlay.list .contents {
  border: 1px solid #ccc;
}

.list .contents {
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  border-bottom: 1px solid #eaeaea;
}

.list .thumb, #dragOverlay.list .thumb  {
  display: none;
}

.list li.folder-divider,  #dragOverlay.list li.folder-divider {
  width: 100%;
  height: 0;
}

.list .icon {
  background: none;
  width: 40px;
  height: 40px;
  margin: 0;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events:none;
}

.list .title {
  font-size: 13px;
  width: calc(55% - 50px);
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  overflow: hidden;
  pointer-events:none;
  line-height: 60px;
  margin: 0;
}

#dragOverlay.list .icon {
  background: none;
  width: 30px;
  height: 30px;
  margin: 0;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events:none;
}

#dragOverlay.list .title {
  width: 88px;
  font-size: 13px;
  line-height: 20px;
  margin: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  pointer-events:none;
  color: #444;
}

.list .owner  {
  font-size: 13px;
  line-height: 60px;
  margin: 0;
  width: 20%;
  float: left;
}

.list .date {
  font-size: 13px;
  line-height: 60px;
  margin: 0;
  width: calc(15% - 15px);
  margin-right: 15px;
  float: right;
  text-align: right;
}

#dragOverlay.list .owner, #dragOverlay.list .date {
  display: none;
}

#dragOverlay.list {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  pointer-events:none;
  z-index: 100;
}

#dragOverlay.list.show, #marquee.show {
  display: block;
}

#dragOverlay.list li .contents {
  visibility: hidden;
  -webkit-transition: all .5s;
}

#dragOverlay.list li .selected .contents {
  visibility: visible;
  -webkit-transition: all .5s;
  background: #fff;
  color: #444;
}

#dragOverlay.list .rotate .thumb {
  margin-top: -1px;
  -webkit-transition: all .5s;
  height: 0;
}

#dragOverlay.list li polymer-drive-list-item  {
  -webkit-transition: all .5s;
  left: 0;
  top: 0;
}

.selected .thumb {

}

.grid .file .selected {
  background: #2962ff;
  color: #fff;
}

/*.grid .file .selected .thumb {
  border: 4px solid #2962ff;
  width: calc(100% - 8px);
  height: 126px;
}*/

#dragOverlay.grid .folder {
  background: none;
}


.grid .folder .selected {
  background: #2962ff;
  color: #fff;
}

.grid .folder .selected .icon {
    -webkit-filter: brightness(100%) invert(100%);
    opacity: 1;
}

#dragOverlay.grid .folder .selected .icon {
    -webkit-filter: brightness(50%) invert(0);
    opacity: .5;
}


#dragOverlay .selected .title {
  background: #fff;
  padding: 5px;
  margin: 0;
  color: #222;
}


.list .selected {
  background: #0e62eb;
  color: #fff;
}


.folder .thumb {
  display: none;
}

.icon-container {
  pointer-events:none;
}

#count {
  position: absolute;
  right: 0;
  top: 600px;
  z-index: 100;
  background: #db4437;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: none;
  line-height: 21px;
  text-align: center;
  font-size: 10px;
}

.rotate {
  -webkit-transform:rotate(0);
  width: 140px;
  height: 30px;
}

.rotate.one {
  -webkit-transform:rotate(0);
  z-index: 10;
}

.rotate.two {
  -webkit-transform:rotate(2deg);
}

.rotate.three {
  -webkit-transform:rotate(4deg);
}

#marquee {
  position: absolute;
  width: 0;
  height: 0;
  border: 1px solid rgba(0,0,0,.25);
  background: rgba(0,0,0,.05);
  left: 0;
  top: 0;
  pointer-events:none;
  display: none;
  z-index: 1000;
}

.list .icon-container {
  width: 40px;
  height: 40px;
  float: left;
  margin: 10px 14px 0 14px;
  background: #fff;
  border-radius: 50%;
}

#dragOverlay.list .icon-container {
  margin: 0;
  border-radius: none;
  width: 40px;
  height: 40px;
  background: #fff;
}

#dragOverlay.list .icon-container .icon {
  -webkit-filter: brightness(100%) invert(0);
}

#dragOverlay.list .folder .icon-container .icon {
  opacity: .5;
}

.list li:last-child .contents, .list li:nth-last-child(-n+3) .contents {
  border-bottom: 1px solid transparent !important;
}

/*
.list .folder .icon-container .icon {
  -webkit-filter: brightness(0) invert(100%);
  opacity: 1;
}

.list .doc .icon, .list .sheet .icon, .list .slide .icon {
  -webkit-filter: brightness(0) invert(100%);
}

.list .doc .icon-container {
  background-color: #4285f4;
}

.list .sheet .icon-container {
  background-color: #109d59;
}

.list .slide .icon-container {
  background-color: #ffcd40;
}

.list .image .icon-container {
  background-color: #db4437;
}

.list .selected .icon-container {
  background-color: transparent;
}*/

.list-icon, .grid-icon {
  position: relative;
}

.list-icon:after {
    content : "";
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    background-image: url(../../../assets/img/tesla-custom/list-20-hdpi.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 14px 14px;
    width: 48px;
    height: 48px;
    opacity : 0.5;
}

.grid-icon:after {
    content : "";
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    background-image: url(../../../assets/img/tesla-custom/grid-20-hdpi.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 14px 14px;
    width: 48px;
    height: 48px;
    opacity : 0.5;
}

.folder .icon-container .icon {
  background-image: url(../../../assets/img/folder.svg) !important;
  opacity: .5;
}

.doc .icon-container .icon {
  background-image: url(../../../assets/img/doc.svg) !important;
}

.sheet .icon-container .icon {
  background-image: url(../../../assets/img/sheet.svg) !important;
}

.slide .icon-container .icon {
  background-image: url(../../../assets/img/slide.svg) !important;
}

.menu-divider {
  border-top: 1px solid #e5e5e5;
  margin: 5px 2px;
}

polymer-drive-list {
  
}

polymer-drive-list.in {
  -webkit-transition: all .2s;
}



dl.incoming {
  color: #333;
  font-family: Roboto,Arial,sans-serif !important;
  list-style: none;
  margin: 0;
  padding: 0;
}
dl.incoming strong {
  color: #000;
}
dl.incoming dt {
  border-bottom: 1px solid #e0e0e0;
  color: #777;
  font-weight: bold;
  height: 38px;
  line-height: 39px;
  margin: 0;
  padding: 15px 0 0 10px;
  font-size: 13px;
  font-weight: bold;
}
dl.incoming dt:first-of-type {
  padding-top: 0;
}
dl.incoming dd {
  margin: 0;
  padding: 0;
}
dl.incoming ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
dl.incoming li {
  font: normal normal 13px/1.3em Roboto,Arial,sans-serif;
}

.incoming li > .row {
  background-color: rgba(255,255,255,0);
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: block;
  height: 70px;
  font-size: 0;
  outline: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  -webkit-transition: box-shadow .2s ease-in-out;
}
.incoming li > .row:focus,
.incoming li > .row:hover {
  background-color: rgba(255,255,255,1);
  box-shadow: 0 1px 0 0 rgba(0,0,0,.05);
  border-bottom: 1px solid #d4d4d4;
}
.incoming li > .row:focus {
  box-shadow: inset 4px 0 0 #4285f4, 0 1px 0 0 rgba(0,0,0,.05);
}

.incoming li > .row .person,
.incoming li > .row .item,
.incoming li > .row .actions {
  box-sizing: border-box;
  display: inline-block;
  height: 70px;
  min-width: 280px;
  padding: 10px 10px 10px 12px;
  vertical-align: top;
}
.incoming li > .row .person .photo {
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  margin-right: 10px;
  position: relative;
  width: 50px;
}
.incoming li > .row .person .photo > img {
  height: 50px;
  width: 50px;
  -webkit-clip-path: circle(25px, 25px, 25px);
}
.incoming li > .row .person .person-data,
.incoming li > .row .item .item-data {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  margin-top: 7px;
  vertical-align: top;
}
.incoming li > .row:focus .person .name,
.incoming li > .row:focus .item .name {
  color: #000;
}

.incoming li > .row .person .date,
.incoming li > .row .item .type {
  color: #777;
  font-size: 11px;
}

.incoming li > .row .item .name.fileicon {
  position: relative;
}
.incoming li > .row .item .name.fileicon::before {
  box-sizing: border-box;
  content: '';
  height: 20px;
  left: -28px;
  position: absolute;
  top: 0;
  width: 20px;
}

.incoming .name.fileicon[filetype="doc"]::before {
  background: transparent url(/quantum-lite/assets/img/doc.svg) no-repeat 0 0;
}
.incoming .name.fileicon[filetype="ppt"]::before {
  background: transparent url(/quantum-lite/assets/img/ppt.svg) no-repeat 0 0;
}
.incoming .name.fileicon[filetype="sheet"]::before {
  background: transparent url(/quantum-lite/assets/img/sheet.svg) no-repeat 0 0;
}
.incoming .name.fileicon[filetype="slide"]::before {
  background: transparent url(/quantum-lite/assets/img/slide.svg) no-repeat 0 0;
}
.incoming .name.fileicon[filetype="folder"]::before {
  background: transparent url(/quantum-lite/assets/img/sharedfolder.svg) no-repeat 0 0;
}


.incoming .icon-accept {
  background: transparent url(/quantum-lite/assets/img/add_to_drive.svg) no-repeat 9px 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  height: 40px;
  opacity: 0;
  position: relative;
  top: 4px;
  width: 40px;
  -webkit-transition: all .13s;
}

.incoming li > .row:hover .icon-accept {
  opacity: .33;
}
.incoming li > .row:focus .icon-accept {
  opacity: .5;
}
.incoming li > .row .icon-accept:hover {
  background-color: rgba(255,255,255,.9);
  border-color: rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  opacity: 1;
}


.incoming li > .row .item {
  cursor: pointer;
  max-width: 600px;
  min-width: 300px;
  width: 50%;
}
.incoming li > .row .item .item-data {
  font-size: 13px;

}






.incoming li > .row .actions {
  font-size: 13px;
  min-width: 100px;
}