body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

h1 {
  margin: 2em 0 1em 0;
  font-weight: 300;
  font-size: 32pt;
}

h2 {
  margin: 0 0 0 0;
  font-weight: 300;
  font-size: 24pt;
}

h3 {
  font-size: 18pt;
  font-weight: 300;
}

h4 {
  margin: 1em 0 1em 0;
  font-weight: 300;
  font-size: 18pt;
}

p {
  font-weight: 400;
  font-size: 12pt;
  line-height: 1.8em;
}

header {
  padding: 5em 0;
  background-color: #212121;
  color: white;
}

footer {
  margin: 5em 0 0 0;
  padding: 5em 0;
  background-color: #212121;
  color: white;
}

.mdc-graphic {
  background: url(../img/ios.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 280px;
}

.phone {
  background-image: url(../img/silver_hardware_medium_2x.png);
  background-size: cover;
  width: 316px;
  height: 630px;
  position: relative;
}

.screenshot {
  background-size: cover;
  width: 270px;
  height: 480px;
  margin: 75px 0 0 23px;
  position: absolute;
}

.name {
  margin: 0 0 4em 0;
}

.component-list, .prototype-list {
  list-style-type: none;
  padding: 0;
  margin: 4em 0 0 0;
  width: calc(100% + 20px);
}

.component-list li, .prototype-list li {
  width: calc(50% - 20px);
  min-width: 280px;
  float: left;
  margin: 0 20px 0 0;
  padding: 0 80px 0 0;
  height: 130px;
  position: relative;
}

.component-list h2, .prototype-list h2 {
  font-size: 14pt;
  margin: 0.8em 0;
}

.description {
  font-size: 10pt;
  color: black;
}

.icon {
  width: 72px;
  height: 72px;
  background-size: cover;
  position: absolute;
  right: 0;
}

.icon.activity_indicator {
  background-image: url(../img/component_icons/activity_indicator.png);
}

.icon.animation_timing {
  background-image: url(../img/component_icons/animation_timing.png);
}

.icon.appheader {
  background-image: url(../img/component_icons/appheader.png);
}

.icon.bottom_app_bar {
  background-image: url(../img/component_icons/bottom_app_bar.png);
}

.icon.bottom_navigation {
  background-image: url(../img/component_icons/bottom_navigation.png);
}

.icon.chips {
  background-image: url(../img/component_icons/chips.png);
}

.icon.curves {
  background-image: url(../img/component_icons/curves.png);
}

.icon.filters {
  background-image: url(../img/component_icons/filters.png);
}

.icon.ink {
  background-image: url(../img/component_icons/ink.png);
}

.icon.scrubber {
  background-image: url(../img/component_icons/scrubber.png);
}

.icon.shapes {
  background-image: url(../img/component_icons/shapes.png);
}

.icon.shadow {
  background-image: url(../img/component_icons/shadow.png);
}

.icon.snackbar {
  background-image: url(../img/component_icons/snackbar.png);
}

.icon.themes {
  background-image: url(../img/component_icons/themes.png);
}
