body {
  margin: 0;
  font-size: 13px;
  font-family: Arial, sans-serif;
}

iframe {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: #ccc;
}

.overlay {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
}

.profile {
  background: #F1F1F1;
  border: 1px solid #E1E1DE;
}

.info {
  background: #FFECBE;
  border: 1px solid #FFC06D;
  margin: 10px;
  padding: 10px;
}

.profile h4 {
  margin-top: 8px;
}

h2 {
  color: #C75454;
  font-weight: normal;
  font-size: 14px;
  margin: 10px;
}

.tasks {
  margin: 5px;
}

/*.tasks a:visited{
  color: white;
}*/

/*.tasks a{
  color: white
}*/

h4 {
  margin: 0;
  color: #444444;
}

h4 .stats {
  color: #C75454;
  font-weight: normal;
}

h4.header {
  margin-bottom: 10px;
}

h4 a {
  color: #444444;
  text-decoration: none;
}

.items-container {
  margin: 10px;
}

.container {
  margin: 15px;
}

/*.container a{
  text-decoration:none;
}*/

p:last-child {
  margin: 4px 0 0 0;
  color: #707070;
}

.divider {
  border-top: 1px solid #E6E6E6;
}

.mug {
  width: 40px;
  height: 40px;
  background: url(img/mug.png);
  background-size: 100%;
  margin: 10px;
  float: left;
}

.mugs {
  width: 87px;
  height: 40px;
  background: url(img/mugs.png);
  background-size: 100%;
  margin: 5px;
  float: left;
}

.mug.small {
  width: 24px;
  height: 24px;
  margin: 0 5px 0 0;
}

.person-desc {
  float: left;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px 0 0 10px;
  background: #ECECEC;
  position: relative;
}

#earnedItemSkill .circle {
  margin: 0;
}

.circle.green {
  background: #99BB69;
}

.circle.orange {
  background: #D7B344;
}

.circle.gray {
  background: #B3AEC2;
}

.circle .ring-first {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 3px solid white;
  margin: 4px;
}

.circle .ring-first .ring-second {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  margin: 8px;
}

.circle:hover .ring-first .ring-second {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white;
  margin: 3px;
}

.circle.medium {
  border-radius: 50%;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 1px 2px 0;
}

.circle.medium .ring-first {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid white;
  margin: 4px;
}

.circle.medium .ring-first .ring-second {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: white;
  margin: 2px;
}

.circle.medium .icon {
  width: 36px;
  height: 36px;
  position: absolute;
  -webkit-mask-size: 100%;
  top: 16px;
  left: 16px;
}

.circle.medium:hover .icon {
  display: block;
}

.circle.small {
  border-radius: 50%;
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: 0 1px 2px 0;
}

.circle.small .ring-first {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 1px;
}

.circle.small .ring-first .ring-second {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: white;
  margin: 3px;
}

.badge {
  margin-left: 5px;
  display: inline-block;
  background: #e0e0e0;
  -webkit-mask: url(img/badge.svg) no-repeat;
  -webkit-mask-size: 100%;
  width: 22px;
  height: 32px;
  position: relative;
}

.badge.large {
  width: 70px;
  height: 100px;
}

.badge .badge-fill {
  width: 100%;
  height: 60%;
  background: #E3D145;
  position: absolute;
  bottom: 0;
}

.badge.red .badge-fill {
  width: 100%;
  height: 100%;
  background: #E51E52;
  position: absolute;
  bottom: 0;
}

.badge.green {
  background: #99BB69;
}

.badge-list {
  list-style: none;
  margin: 10px;
  padding: 0;
}

.badge-list li {
  margin: 0;
  clear: both;
}

.badge-list .badge {
  width: 55px;
  height: 80px;
  float: left;
  margin-bottom: 10px;
}

.badge-list .badge-desc {
  float: left;
  width: 120px;
  margin: 15px 0 0 15px;
}

.badge-list .badge-desc p {
  font-size: 11px;
  color: #999999;
}

ol li {
  line-height: 3em;
  color: #444444;
  clear: both;
  position: relative;
  margin-left: 24px;
}

ol li .mug {
  position: absolute;
  left: -72px;
  top: -8px;
  width: 32px;
  height: 32px;
}

.circle .icon {
  width: 40px;
  height: 40px;
  position: absolute;
  -webkit-mask-size: 100%;
  top: 30px;
  left: 30px;
  background: #ECECEC;
}

.circle.small .icon {
  width: 18px;
  height: 18px;
  position: absolute;
  -webkit-mask-size: 100%;
  top: 10px;
  left: 10px;
  background: #ECECEC;
}

.green .icon,.circle.small.green .icon {
  background: #99BB69;
}

.orange .icon,.circle.small.orange .icon {
  background: #D7B344;
}

.gray .icon,.circle.small.gray .icon {
  background: #B3AEC2;
}

.icon.video {
  -webkit-mask: url(img/video.svg) no-repeat center;
}

.icon.transition {
  -webkit-mask: url(img/transition.svg) no-repeat center;
}

.icon.movies {
  -webkit-mask: url(img/movies.svg) no-repeat center;
}

.icon.align_shapes {
  -webkit-mask: url(img/align_shapes.svg) no-repeat center;
}

.icon.download {
  -webkit-mask: url(img/download.svg) no-repeat center;
}

.icon.revision {
  -webkit-mask: url(img/revision.svg) no-repeat center;
}

.icon.speaker_notes {
  -webkit-mask: url(img/speaker_notes.svg) no-repeat center;
}

.icon.present_with_notes {
  -webkit-mask: url(img/present_with_notes.svg) no-repeat center;
}

.icon.comment_hot {
  -webkit-mask: url(img/comment_hot.svg) no-repeat center;
}

.icon.redo_hot {
  -webkit-mask: url(img/redo_hot.svg) no-repeat center;
}

.icon.undo_hot {
  -webkit-mask: url(img/undo_hot.svg) no-repeat center;
}

.icon.new_slide_hot {
  -webkit-mask: url(img/new_slide_hot.svg) no-repeat center;
}

.icon.spreadsheet {
  -webkit-mask: url(img/spreadsheet.svg) no-repeat center;
}

.icon.folder {
  -webkit-mask: url(img/folder.svg) no-repeat center;
}

.icon.chart {
  -webkit-mask: url(img/chart.svg) no-repeat center;
}

.icon.comment {
  -webkit-mask: url(img/comment.svg) no-repeat center;
}

.icon.filter {
  -webkit-mask: url(img/filter.svg) no-repeat center;
}

.icon.function {
  -webkit-mask: url(img/function.svg) no-repeat center;
}

.icon.revision {
  -webkit-mask: url(img/revision.svg) no-repeat center;
}

.icon.share {
  -webkit-mask: url(img/share.svg) no-repeat center;
}

.icon.person {
  -webkit-mask: url(img/person.svg) no-repeat center;
}

.icon.skills {
  -webkit-mask: url(img/skills.svg) no-repeat center;
}

.circle-desc {
  display: none;
  text-shadow: -1px 0 2px #fff, 0 1px 2px #fff, 1px 0 2px #fff, 0 -1px 2px #fff;
  color: #999;
}

.green .circle-desc {
  color: #99BB69;
}

.orange .circle-desc {
  color: #D7B344;
}

.gray .circle-desc {
  color: #B3AEC2;
}

.menu .icon {
  background: #757575;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  left: 10px;
  -webkit-mask-size: 100% 100%;
}

.menu .icon.badge {
  margin: 0;
}

.circle:hover .circle-desc {
  display: block;
  text-transform: uppercase;
  width: 100px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 38px;
  font-size: 11px;
}

.circle:hover .icon {
  display: none;
}

.circle.small:hover .icon {
  display: block;
}

.menu-button {
  width: 28px;
  height: 28px;
  border-radius: 2px;
  border: 1px solid #C6C6C6;
  background: #fff;
  position: absolute;
  right: 25px;
  top: 15px;
  cursor: pointer;
}

.menu-button .icon.menu-state {
  margin: 0;
  padding: 2px;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #757575;
  display: block;
  -webkit-mask-size: 20px 20px;
  -webkit-mask-position: center;
}

.menu-button .icon-wrapper {
  border: 2px solid #F1F1F1;
  position: absolute;
}

.menu {
  background: #fff;
  position: absolute;
  right: -10px;
  top: 42px;
  border: 1px solid #B3B3B3;
  width: 120px;
  display: none;
  z-index: 10;
}

.menu-arrow {
  width: 21px;
  height: 21px;
  background: #757575;
  -webkit-mask: url(img/arrow_down.svg);
  -webkit-mask-size: 100% 100%;
  position: absolute;
  right: -21px;
  top: 5px;
}

.menu ul {
  list-style: none;
  margin: 6px 0;
  padding: 0;
}

.menu ul li {
  position: relative;
}

.menu ul a {
  padding: 8px 20px 8px 38px;
  display: block;
  text-decoration: none;
  color: #434343;
}

.menu ul a:hover {
  background: #ececec;
}

.arrow {
  border-style: dashed;
  border-color: transparent;
  display: inline-block;
  font-size: 12px;
  border-bottom-style: solid;
  border-bottom-color: #BABABA;
  position: absolute;
  top: -2em;
  right: 1em;
  border-width: 1em;
}

.inner-arrow {
  border-style: dashed;
  border-color: transparent;
  display: inline-block;
  font-size: 12px;
  border-bottom-style: solid;
  border-bottom-color: white;
  position: absolute;
  top: -.9em;
  right: -1em;
  border-width: 1em;
}

.left {
  float: left;
}

.right {
  float: right;
}

.space {
  height: 10px;
}

.space.double {
  height: 20px;
}

.mole h1 {
  background: #FFF8DB;
  margin: 0px;
  font-size: 13px;
  padding: 15px 20px;
  color: #3C3C3C
}

.mole h2 {
  color: #3C3C3C;
  margin: 0px;
  padding: 0px;
}

.mole-content {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.mole-content .badge.large {
  float: left;
}

.mole-desc {
  float: left;
  margin-left: 20px;
  width: 160px;
}

.mole-desc p {
  margin-top: 5px;
  color: #707070;
  font-size: 11px;
}

.mole-btns {
  padding: 10px 15px;
  background: #F5F5F5;
}

.mole-btns button {
  background: #FCFCFC;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  padding: 5px 10px;
}

.break {
  clear: both;
}

a{
  text-decoration: none;
}

