
<!doctype html>
<html>
<head>
	<title>Edison Components</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />

	<script src="../../../platform/platform.js"></script>
	<script src="demodata.js"></script>

	<link rel="import" href="elements/edison-mobile-shell/edison-mobile-shell.html">
	
  <style>
    @import url(../../assets/css/components.css);
  </style>

</head>
<body unresolved>
	<edison-mobile-shell sidebaropen="false" showpromo="true"></edison-mobile-shell>
</body>
</html>