@CHARSET "UTF-8";

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;  
}

.button,
.disabled.button:hover,
.disabled.button:active {
  display: inline-block;
  min-width: 54px;*min-width:70px;/*hello,IE7!*/
  border:1px solid #DCDCDC;
  border: 1px solid rgba(0,0,0,0.1);
  text-align: center;
  color: #444;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  padding: 0 8px;
  line-height: 27px;
  -webkit-border-radius:2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5',EndColorStr='#f1f1f1');
  -webkit-user-select:none;
  -moz-user-select:none;
  cursor:default;
  text-decoration: none;
}

.disabled.button {
  opacity: 0.5;
}

.disabled.button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.button:hover {
  border: 1px solid #C6C6C6;
  color: #222;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8f8f8',EndColorStr='#f1f1f1');
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.button:active {
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f6f6',EndColorStr='#f1f1f1');
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}

.selected.button {
  background-color: #EEE;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#E0E0E0));
  background-image: -webkit-linear-gradient(top,#EEE,#E0E0E0);
  background-image: -moz-linear-gradient(top,#EEE,#E0E0E0);
  background-image: -ms-linear-gradient(top,#EEE,#E0E0E0);
  background-image: -o-linear-gradient(top,#EEE,#E0E0E0);
  background-image: linear-gradient(top,#EEE,#E0E0E0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#EEEEEE',EndColorStr='#E0E0E0');
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  border: 1px solid #CCC;
  color: #333;
}

.blue-button,
.disabled.blue-button:hover,
.disabled.blue-button:active {
  border: 1px solid #3079ed;
  color: #FFF;
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
}

.blue-button:hover {
  border: 1px solid #2f5bb7;
  color: #FFF;
  background-color: #357ae8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#357ae8');
}

.blue-button:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}

.red-button,
.disabled.red-button:hover,
.disabled.red-button:active {
  border: 1px solid transparent;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing:1;
  background-color: #d14836;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
  background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
  background-image: -o-linear-gradient(top,#dd4b39,#d14836);
  background-image: linear-gradient(top,#dd4b39,#d14836);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39',EndColorStr='#d14836');
  text-shadow: 0px 1px rgba(0,0,0,0.1);
}

.red-button:hover {
  border: 1px solid #b0281a;
  border-bottom: 1px solid #AF301F;
  color: #FFF;
  background-color: #c53727;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#c53727));
  background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
  background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
  background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
  background-image: -o-linear-gradient(top,#dd4b39,#c53727);
  background-image: linear-gradient(top,#dd4b39,#c53727);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39',EndColorStr='#c53727');
  
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.red-button:active {
  border: 1px solid #992A1B;
  background-color: #b0281a;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#b0281a));
  background-image: -webkit-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -moz-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -ms-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -o-linear-gradient(top,#dd4b39,#b0281a);
  background-image: linear-gradient(top,#dd4b39,#b0281a);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}

/* Scrollbar CSS from http://s/?fileprint=//depot/google3/javascript/jfk/scrollbar/scrollbar.gss&raw=1 */

/* Note: the class name 'jfk-scrollbar' must be kept in sync with the genrule
 * which creates the globalscrollbar.gss file
 */
::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}


/* Scrollbar track. */

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;

  /*
   * NOTE(chrishenry): It turns out that RTL scrollbar in Chrome appears on
   * the right. So we have to not flip the border-width for the scrollbar
   * to appear correctly. Similarly elsewhere below.
   */
  border-width: 0 0 0 4px;
}

::-webkit-scrollbar-track:horizontal {
  border-width: 4px 0 0;
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, .05);;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, .05);;
  box-shadow:
      inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-track:horizontal:active {
  box-shadow:
      inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, .1);;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, .2);
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:active {
  background-color: rgba(255, 255, 255, .1);;
  box-shadow:
      inset 1px 0 0 rgba(255, 255, 255, .25),
      inset -1px 0 0 rgba(255, 255, 255, .15);
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:horizontal:active {
  box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, .25),
      inset 0 -1px 0 rgba(255, 255, 255, .15);
}


/* Scrollbar thumb. */

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);;
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow:
      inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 1px 1px;
  padding: 0 0 0 100px;
  box-shadow:
      inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .4);;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5);;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .3);;
  box-shadow:
      inset 1px 1px 0 rgba(255, 255, 255, .15),
      inset 0 -1px 0 rgba(255, 255, 255, .1);
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb:horizontal {
  box-shadow:
      inset 1px 1px 0 rgba(255, 255, 255, .15),
      inset -1px 0 0 rgba(255, 255, 255, .1);
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, .6);;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .37);
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, .75);;
  box-shadow: inset 1px 1px 3px rgba(255, 255, 255, .5);
}


/*
 * "Borderless" container scrollbar: this is a scrollbar recommended
 * for usage on an inline container with no border.
 */

.jfk-scrollbar-borderless::-webkit-scrollbar-track {
  border-width: 0 1px 0 6px;
}

.jfk-scrollbar-borderless::-webkit-scrollbar-track:horizontal {
  border-width: 6px 0 1px;
}

.jfk-scrollbar-borderless::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, .035);;
  box-shadow:
      inset 1px 1px 0 rgba(0, 0, 0, .14),
      inset -1px -1px 0 rgba(0, 0, 0, .07);
}

.jfk-scrollbar-borderless.jfk-scrollbar-dark::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, .07);;
  box-shadow:
      inset 1px 1px 0 rgba(255, 255, 255, .25),
      inset -1px -1px 0 rgba(255, 255, 255, .15);
}

.jfk-scrollbar-borderless::-webkit-scrollbar-thumb {
  border-width: 0 1px 0 6px;
}

.jfk-scrollbar-borderless::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 0 1px;
}


/* Scrollbar hacks. */

/*
 * NOTE(chrishenry): This is needed to make the corner (the part of
 * the scrollbar at the intersection between horizontal and
 * vertical scrollbar) renders correctly in container with non-white
 * background.
 */
::-webkit-scrollbar-corner {
  background: transparent;
}

/*
 * NOTE(chrishenry): Body scrollbar leaves ugly artifact when the track
 * piece is transparent. Hence we have to use solid color for the track
 * piece. Due to it being rendered on top of the track, we can't have
 * the hover/active effect that non-body scrollbar can have. Also
 * containers with non-white background will need to replace the
 * border color on track piece from white to the actual background
 * color. Please contact chrishenry/kennedy-eng if there are additional
 * issues with this.
 */
body::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  background-color: #f5f5f5;;
  border: solid #fff;;
  border-width: 0 0 0 3px;
  box-shadow:
      inset 1px 0 0 rgba(0, 0, 0, .14),
      inset -1px 0 0 rgba(0, 0, 0, .07);
}

body::-webkit-scrollbar-track-piece:horizontal {
  border-width: 3px 0 0;
  box-shadow:
      inset 0 1px 0 rgba(0, 0, 0, .14),
      inset 0 -1px 0 rgba(0, 0, 0, .07);
}

body::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 5px;
}

body::-webkit-scrollbar-thumb:horizontal {
  border-width: 5px 1px 1px;
}

body::-webkit-scrollbar-corner {
  background-clip: padding-box;
  background-color: #f5f5f5;;
  border: solid #fff;;
  border-width: 3px 0 0 3px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .14);
}

/*------------------------------------------------------------------
Component: Tooltips
------------------------------------------------------------------*/

.kd-tooltip {
  pointer-events: none; /* can't click on a tooltip */
  display: block;
  position: absolute;
  background: #2d2d2d;
  top: -5px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  outline: 1px solid rgba(255,255,255,0.5);
  height: 29px;
  line-height: 29px;
  margin-left: -20px;
  padding: 0 10px;
  font-size: 11px;
  z-index: 2000;
  opacity: 0.0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.13s;
  -moz-transition: opacity 0.13s;
  -o-transition: opacity 0.13s;
  transition: opacity 0.13s;
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
}

.kd-tooltip .pointer {
  outline: none;
  display: block;
  position: absolute;
  top: -5px;
  left: 24px;
  margin: 0 0 0 -5px;
  width: 0;
  height: 0;
  line-height: 0px;
  font-size: 0px;
  /* This sets the tooptip pointer color */
  border-top: transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #2d2d2d;
}

div:hover > .kd-tooltip,
span:hover > .kd-tooltip {
  opacity: 1.0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.kennedy-search {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #ccc;
  height: 29px;
  font-family: Arial;
  font-size: 12px;
  padding-left: 4px;
}

.kennedy-search::-webkit-input-placeholder {
  color: #ccc;
}

.kennedy-search:focus {
  border: 1px solid #4E90FE;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}

.link {
  color: #15c !important;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
