@CHARSET "UTF-8";

.menu {
  position: absolute;
  left: 0;
  padding: 6px 0;
  background: #fff;
  min-width: 180px;
  top: 28px;
  color: #2b2c2b;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  outline: 1px solid #bbb;
  font: 12px arial, sans-serif;
  
  /* prevent clicking from highlighting stuff */
  -khtml-user-select: none;
}

.menu-item {
  display: block;
  padding: 6px 30px;
  white-space: nowrap;
  color: #333;
  text-align: left;
  cursor: default;
}

.divider.menu-item {
  padding: 0;
  margin: 6px 0;
  border-bottom: 1px solid #e5e5e5;
  height: 0;
}

.menu-item .icon {
  position: absolute;
  margin-top: -2px;
  left: 5px;
  opacity: 0.55;
  vertical-align: middle;
}

.menu-item img.icon {
  display: none;
}

.menu-item img.icon[src] {
  display: inline-block;
}

.disabled.menu-item {
  opacity: 0.5;
}

.active.menu-item {
  background-color: #F1F1F1;
  color: #222;
}

.active.disabled.menu-item {
  background: #fff;
}
