@import
  url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800)
  ;

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300px;
  font-size: 13px;
  overflow: hidden;
  overflow-y: scroll;
  background: rgba(0, 0, 0, .1);
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  position: absolute;
}

.dialog {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, .4);
  border-left: 1px solid rgba(0, 0, 0, .3);
  border-top: 1px solid rgba(0, 0, 0, .3);
  background: #fff;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
  opacity: 0;
  position: relative;
}

.dialog.active {
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: .5s;
  -webkit-animation-name: bounce-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}

@
-webkit-keyframes bounce-in {from { width:400px;
  height: 200px;
  opacity: 0;
}

50%
{
width






:



 



570
px






;
height






:



 



360
px






;
opacity






:



 



1;
}
to {
  width: 500px;
  height: 300px;
  opacity: 1;
}

}
.front,.back {
  
}

input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300px;
  font-size: 13px;
  width: 70%;
  padding: 5px 10px;
}

input[type=text] {
  border: none;
  border: 1px solid rgba(0, 0, 0, .2);
  float: right;
}

input:focus {
  outline: none;
}

.content.fields {
  line-height: 2.8em;
}

.toolbar {
  height: 148px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0,
    0, .08) ), color-stop(0.6, rgba(0, 0, 0, .05) ),
    color-stop(0.8, rgba(0, 0, 0, .15) ) );
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  top: -72px;
  -webkit-transition: all .1s ease-in;
}

.toolbar.open {
  top: 0;
  -webkit-transition: all .1s ease-in;
}

.document {
  width: 680px;
  height: 2000px;
  background: #fff;
  border: 1px solid #ccc;
  margin-top: 100px;
  padding: 90px;
  line-height: 2em;
  font-size: 14px;
}

.document h1 {
  font-size: 28px;
  margin: 0 0 2em 0;
}

.toolbar h1 {
  font-weight: 300;
  margin: 0;
  font-size: 18px;
  bottom: 24px;
  left: 40px;
  color: rgba(0, 0, 0, .8);
  position: absolute;
}

.tools {
  position: absolute;
  left: 240px;
  bottom: 16px;
}

.tools.top {
  position: absolute;
  left: 240px;
  top: 16px;
}

.tools .icon {
  background: #222;
  width: 28px;
  height: 28px;
  -webkit-mask-size: 28px 28px;
  margin: 3px;
  float: left;
}

.icon.cut {
  -webkit-mask-image: url(../img/cut.svg);
}

.icon.copy {
  -webkit-mask-image: url(../img/copy.svg);
}

.icon.paste {
  -webkit-mask-image: url(../img/paste.svg);
}

.icon.bold {
  -webkit-mask-image: url(../img/bold.svg);
}

.icon.italic {
  -webkit-mask-image: url(../img/italics.svg);
}

.icon.underline {
  -webkit-mask-image: url(../img/underline.svg);
}

.icon.text_align_center {
  -webkit-mask-image: url(../img/text_align_center.svg);
}

.icon.text_align_justified {
  -webkit-mask-image: url(../img/text_align_justified.svg);
}

.icon.text_align_left {
  -webkit-mask-image: url(../img/text_align_left.svg);
}

.icon.text_align_right {
  -webkit-mask-image: url(../img/text_align_right.svg);
}

.tool-btn {
  float: left;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  height: 32px;
  width: 32px;
  box-shadow: 0px 2px 15px rgba(0,0,0,.3), inset 0px 2px 3px #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),
    to(#e7e7e7) );
  position: relative;
  margin-left: 20px;
  opacity: .7;
}

.tool-btn::before {
content: "";
display: block;
background: #fff;
border-top: 1px solid #ccc;
position: absolute;
top: -8px;
left: -8px;
bottom: -8px;
right: -8px;
z-index: -1;
border-radius: 50%;
opacity: .3;

box-shadow: inset 0px 8px 48px rgba(0,0,0,.3);
}

.dialog h1 {
  font-weight: 300;
  margin: 0;
  font-size: 18px;
  padding: 15px 20px;
  color: rgba(0, 0, 0, .8);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, rgba(0,
    0, 0, .01) ), color-stop(0.6, rgba(0, 0, 0, .08) ) );
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

label {
  width: 20%;
  display: block;
  float: left;
}

label.required {
  font-weight: 600;
}

.dialog .content {
  padding: 20px 20px;
}

.dialog footer .content {
  padding: 15px 20px;
  border-top: 1px solid rgba(0, 0, 0, .15);
}

footer button {
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.22, rgba(0,
    0, 0, .10) ), color-stop(0.61, rgba(0, 0, 0, .025) ) );
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 6px 20px;
  border-radius: 2em;
  margin-left: 10px;
  background: rgba(0, 0, 0, .1);
}

button.primary {
  font-weight: 600;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.22, rgba(79
    , 110, 241, .7) ), color-stop(0.61, rgba(79, 110, 241, .9) ) );
  color: #fff;
  border: 1px solid rgba(79, 110, 241, 1);
  background: rgba(79, 110, 241, 1);
}

button.left {
  float: left;
  margin-left: 0;
}

.menus {
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  background: #222;
  font-size: 14px;
  font-weight: 300;
  height: 48px;
}

.menus ul {
  list-style: none;
  color: #ccc;
}

.menus li {
  float: left;
  margin-right: 30px;
}

.clear {
  clear: both;
}