:host {
  display: block;
  font-family: Roboto,Arial,sans-serif;
  font-size: 14px;
  padding: 24px 0;
  position: relative;
  text-align: left;
}

:host .sharing-email-canvas {
  background: #f5f5f5;
  display: block;
  min-width: 400px;
  overflow: hidden;
  padding: 24px 0 12px;
  position: relative;
  text-align: center;
  width: 100%;
}

.sharing-email-canvas .sharing-email-card {
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 2px 4px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.1);
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 680px;
  min-width: 400px;
  padding: 30px 32px 32px;
  width: 100%;
  text-align: left;
}

.sharing-email-card a {
  color: #15c;
  text-decoration: none;
  -webkit-transition: all .2s;
}
.sharing-email-card a:hover {
  text-decoration: underline;
}

.sharing-email-card .entity-link {
  margin: 14px 0 0;
}

.sharing-email-card .entity-link a {
  background: transparent none no-repeat left top;
  display: inline-block;
  font-size: 18px !important;
  line-height: 24px;
  padding: 0 0 16px 40px;
}
.entity-link .doc a {
  background-image: url(img/docs.svg);
}
.entity-link .folder a {
  background-image: url(img/folder.svg);
}
.entity-link .slide a {
  background-image: url(img/slides.svg);
}
.entity-link .pdf a {
  background-image: url(img/pdf.svg);
}


.doc-title {
  white-space: nowrap;
}


.sharing-email-card h3 {
  box-sizing: border-box;
  color: #666;
  font-family: Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3em;
  margin: 0 0 14px;
  padding: 0;
  text-align: left;
}
.sharing-email-card strong {
  color: #000;
}

.sharing-email-card > .contents .snippet {
  border-top: 1px solid #eee;
  color: #000;
  font-family: Roboto,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 16px 0 16px 0;
  position: relative;
}

.sharing-email-card .snippet .snippet-text {
  max-width: 40em;
  white-space: pre-wrap;
}

.sharing-email-card > .contents .snippet .photo {
  background: #fafafa;
  box-sizing: border-box;
  float: left;
  height: 48px;
  margin: 0 16px 16px 0;
  position: relative;
  width: 48px;
}
.sharing-email-card > .contents .snippet .photo img {
  height: 100%;
  position: absolute;
  width: 100%;
}



.sharing-email-card .actions {
  font-size: 0;
  margin: 20px 0 0;
}
.sharing-email-card .actions jfk-button {
  margin-right: 15px;
}

.sharing-email-card + footer {
  background: transparent url(img/google-logo.svg) no-repeat right 14px;
  box-sizing: border-box;
  color: #777;
  font-family: "Open sans", helvetica, arial, sans-serif;
  font-size: 11px;
  height: 56px;
  letter-spacing: 0.05em;
  line-height: 1.8em;
  margin: 0 auto 0;
  max-width: 680px;
  min-width: 400px;
  padding: 24px 0 0;
  text-align: left;
}

.sharing-email-card email-snippet:last-of-type .snippet-contents h4,
.sharing-email-card email-snippet:last-of-type .snippet-contents .snippet-text {
  color: #000;
}
