<link rel="import" href="../../../polymer/polymer.html">
<link rel="import" href="/components/kennedy/kennedy-button/kennedy-button.html">
<polymer-element name="sharing-email" attributes="from permission doctitle doctype action filetype drive photo docid">
<template>
  <link rel="stylesheet" href="sharing-email.css">
  <section class="sharing-email-canvas">
    <section class="sharing-email-card">
      <div class="contents">
        <template if="{{ filetype == 'docos' }}">
          <h3>{{ from }} replied to a comment on the following {{ doctype }}: <strong class="doc-title">{{ doctitle }}</strong></h3>
          <div class="snippet">
            <content></content>
          </div>
        </template>
        <template if="{{ filetype != 'docos' }}">
          <template if="{{ doctype == 'document' || doctype == 'presentation' || doctype == 'spreadsheet' || doctype == 'file' }}">
            <h3>{{ from }} has invited you to <strong>{{ permission }}</strong><template if="{{ permission == 'comment' }}"> on</template> the following {{ doctype }}:</h3>
          </template>
          <template if="{{ doctype == 'folder'}}">
            <h3>{{ from }} has invited you to <strong>{{ permission }}</strong><template if="{{ permission == 'comment' }}"> on</template> items in the following shared folder:</h3>
          </template>
          <div class="entity-link">
            <div class="{{ filetype }}">
              <template if="{{ filetype == 'doc' && docid != null }}"><a target="_blank" href="http://docs.google.com/a/google.com/document/d/{{ docid }}" class="doc-title">{{ doctitle }}</a></template>
              <template if="{{ filetype != 'doc' }}"><a href="javascript:void(0)">{{ doctitle }}</a></template>
            </div>
          </div>
          <div class="snippet"><div class="snippet-text"><div class="photo"><img src="img/people/photo_{{ photo }}.png" alt="{{ from }}"></div><content></content></div></div>
          <div class="actions">
            <kennedy-button primary>{{ action }}</kennedy-button>
            <template if="{{ drive == 'true' }}">
              <kennedy-button type="icon" img="img/drive-plus.png">Save to Drive</kennedy-button>
            </template>
          </div>
        </template>
      </div>
    </section>
    <footer class="sharing-email-footer">Google Docs: create and edit documents online, for free.</footer>
  </section>
</template>
<script>
  (function() {
    Polymer('sharing-email', {
      ready: function() { 
      }
    });
  })();
</script>
</polymer-element>