.block {
  position: absolute;
  width: 285px;
  left: 15px;
  background: rgba(0, 0, 0, 0);
  outline: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .1) inset, -1px -1px 0 rgba(0, 0, 0, .1)
    inset;
  -webkit-transition: outline 0.15s linear, background 0.15s linear;
}

.block.text {
  min-height: 40px;
}

.block .place-text {
  background: #fff;
  border: 1px solid #ccc;
  float: left;
  font-size: 11px;
  margin: 25px 10px;
  padding: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.33);
  z-index: 100;
  position: relative;
}

.block .place-text .desc-img {
  -webkit-user-select: none;
}

.block .place-text .arrow-outline {
  border-color: transparent transparent #ccc;
  border-style:solid;
  border-width:10px;
  width:0;
  height:0;
  margin-left: 40px;
  position: absolute;
  top: -20px;
  left: 0;
}

.block .place-text .arrow-bg {
  border-color: transparent transparent #fff;
  border-style:solid;
  border-width:10px;
  width:0;
  height:0;
  position: absolute;
  top: -9px;
  left: -10px;
}

.published .block.text {
  box-shadow: none;
}

.block.text .content, .block.text .content span {
  cursor: text !important;
}

.block:hover {
  outline: 1px solid #B4D4FE;
  z-index: 1;
  background: rgba(0, 0, 0, .05);
  -webkit-transition: outline 0.15s linear, background 0.15s linear;
}

.block.selected {
  outline: 3px solid #B4D4FE;
  z-index: 5;
}

.block.image .content {
  width: 100%;
  height: 100%;
}

.block.text .content {
  cursor: text;
  -webkit-user-modify: read-write;
  -webkit-user-select: text !important;
  margin: 5px;
  z-index: 1;
  float: left;
  position: relative;
}

.block .handle {
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0);
  cursor: move;
}

.block .handle.center {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.block .handle.top {
  width: 100%;
  top: -10px;
}

.block .handle.bottom {
  width: 100%;
  bottom: -10px;
}

.block .handle.left {
  height: 100%;
  left: -10px;
}

.block .handle.right {
  height: 100%;
  right: -10px;
}

.block.selected .ui-resizable-handle {
  position: absolute;
  background: #fff;
  border: 1px solid black;
  width: 7px;
  height: 7px;
  z-index: 1;
}

.block.insert {
  background: #0092F3;
  height: 10px;
}

.ui-resizable-n {
  left: 50%;
  top: -6px;
  margin-left: -6px;
  cursor: n-resize;
}

.ui-resizable-s {
  left: 50%;
  bottom: -6px;
  margin-left: -6px;
  cursor: s-resize;
}

.ui-resizable-e {
  top: 50%;
  right: -6px;
  margin-top: -6px;
  cursor: e-resize;
}

.ui-resizable-w {
  top: 50%;
  left: -6px;
  margin-top: -6px;
  cursor: w-resize;
}

.ui-resizable-ne {
  right: -6px;
  top: -6px;
  cursor: ne-resize;
}

.ui-resizable-nw {
  left: -6px;
  top: -6px;
  cursor: nw-resize;
}

.ui-resizable-se {
  right: -6px;
  bottom: -6px;
  cursor: se-resize;
}

.ui-resizable-sw {
  left: -6px;
  bottom: -6px;
  cursor: sw-resize;
}