#menu {
  position: absolute;
  left: 36px;
  top: 46px;
}

#menu li {
  cursor: pointer;
  float: left;
  display: block;
}

#menu li a {
  color: #333;
  display: block;
  padding: 8px 10px;
  position: relative;
}

#menu li.hover {
  background: #ececec !important;
  position: relative;
}

#menu li ul {
  background: #fff;
  border: 1px solid #cccccc;
  display: none;
  position: absolute;
  top: 1.95em;
  min-width: 180px;
  width: 180px;
  z-index: 100;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
}

#menu li.hover ul {
  display: block;
}

#menu li ul li {
  float: none;
  width: 100%;
}

#menu li.hover ul li {
  background: #fff;
}

#menu li ul a {
  display: block;
  margin: 3px 0;
  padding: 7px 28px !important;
}

#menu li.hover ul ul {
  display: none;
}

#menu li ul ul {
  margin-top: -2em;
}

#menu li ul li.hover ul {
  display: block;
  left: 100%;
  margin-left: -2px;
}

#menu li.divider {
  border-bottom: 1px solid #ebebeb;
  margin: 0;
  padding: 0;
}

#menu li.disabled {
  color: rgba(0,0,0,.33);
}

#menu li.disabled.hover {
  background: #fff;
}

#menu li ul li .more {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  position: absolute;
  right: 0;
  top: 0;
  margin: 2px;
  background: url(../img/icons_sprite.png) no-repeat -480px -144px !important;
}

#menu li ul li .checked {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  margin: 2px;
  background: url(../img/icons_sprite.png) no-repeat -480px -120px !important;
}

#contextMenu {
  position: absolute;
  right: 15px;
  top: 200px;
  width: 180px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 10;
  display: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
}

#contextMenu li.divider {
  border-bottom: 1px solid #ebebeb;
  margin: 5px 0;
  padding: 0;
}

#contextMenu li a {
  padding: 5px 10px;
  display: block;
  color: #333;
}

#contextMenu li a:hover {
  background: #ececec;
}