html,body,#carousel,#carousel ul,#carousel li {
	min-height: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}

#debug {
	position: fixed;
	background: #fff;
	padding: 5px;
	color: #000;
	top: 0;
	left: 0;
	z-index: 1337;
}

#carousel {
	background: black;
	overflow: hidden;
	width: 100%;
	
}

#carousel ul.animate {

}

#carousel ul {

}

#carousel li {
	float: left;
	overflow: hidden;
}

.pane {
	opacity: 0;
	-webkit-transition: all .3s;
}

.pane.active {
	opacity: 1;
	-webkit-transition: all .3s;
}

#carousel li.pane1 {
	background: url(../img/1.jpg);
	background-size: cover;
}

#carousel li.pane2 {
	background: url(../img/2.jpg);
	background-size: cover;
}

#carousel li.pane3 {
	background: url(../img/3.jpg);
	background-size: cover;
}

#carousel li.pane4 {
	background: url(../img/4.jpg);
	background-size: cover;
}

#carousel li.pane5 {
	background: url(../img/5.jpg);
	background-size: cover;
}

#carousel li.pane6 {
	background: url(../img/6.jpg);
	background-size: cover;
}