.screenshot {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.phone-container {
  width: 330px;
  height: 671px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}

.phone-video {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  padding: 8px;
}

.phone-shell {
  background-image: url(../img/phone-shell.png);
  background-size: cover;
  width: 330px;
  height: 671px;
  position: absolute;
  z-index: 1;
}

.iphone-container {
  background-image: url(../img/silver_hardware_medium_2x.png);
  background-size: cover;
  width: 316px;
  height: 630px;
  position: relative;
  margin: 41px 0 30px 0;
}

.iphone-video {
  background-size: cover;
  width: 270px;
  height: 480px;
  margin: 75px 0 0 23px;
  position: absolute;
}

.card.narrow {
  min-width: 320px;
  width: 50%;
  float: left;
}

.card.narrow:last-child {
  margin-left: 60px;
}

.card-group {
  display: flex;
}