.headerbar .primary-nav {
  display: inline-block;
  vertical-align: middle;
}

button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  padding: 2px 6px 3px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: -webkit-small-control;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: button;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  position: relative;
  display: inline-block;
  outline: none;
}

button.primary-nav {
  margin: 7px 6px 0 10px;
  
}

button.light:before {
  background-image: url("../img/_buttons/btn_light.png");
  background-position: 0 0;
}

button.primary-nav:after {
  background-image: url("../img/menu.svg");
  background-position: center -24px;
}

button:hover {
  background: url("../img/_buttons/btn_light.png");
  background-position: center -88px * 2;
  background-size: cover;
}

button:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  outline: none;
  background-image: none;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

button:after {
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  outline: none;
  width: 24px;
  height: 24px;
  border: none;
  background-size: 24px auto;
  background-repeat: no-repeat;
  margin: 10px;
  z-index: 10000;
}

button.pressed {
	background: url("../img/_buttons/btn_light.png");
  background-position: center -88px;
  background-size: cover;
}
