:host {
	height: 115px;
	background: #fafafa;
	width: 100%;
	float: left;
	border-bottom: 1px solid #c0c0c0;
	box-shadow: 0 0 3px rgba(0,0,0,.33);
	position: fixed;
	z-index: 10;
	margin: 0;
	padding: 0;
}

.top-bar {
	height: 60px;
	border-bottom: 1px solid #e5e5e5;
	background: #fff;
}

.bottom-bar {
	
}

polymer-ui-toolbar.polymer-ui-light-theme {
	height: 55px;
	background-color: transparent;
	border-bottom: none;
	font-family: Roboto,Arial,sans-serif; /*RobotoLight;*/
	background-image: none !important;
	background: #fafafa;
}

polymer-ui-menu-item {
	font-weight: normal;
	font-size: 14px;
	line-height: 31px;
	/*line-height: 34px;*/
	height: 32px;
	/*height: 36px;*/
	opacity: 1;
	padding: 4px 3px 8px 0;
	color: #555;
	font-family: Roboto,Arial,sans-serif;
}

polymer-ui-menu-item polymer-ui-icon { /* qlite */
	margin: 0 -16px 0 6px;
}

polymer-ui-toolbar > polymer-ui-icon-button {
	margin: 0px 5px !important;
}


.noselection polymer-ui-menu-item.polymer-ui-light-theme.polymer-selected {
	border: none;
	background-color: #fff;
}

.left-toolbar-pad {
	width: 14px;
}

.google-logo {
	background-image: url(../../../assets/img/google-logo.svg);
	width: 92px;
	height: 33px;
	margin: 16px 0 0 26px;
	float: left;
}

.logo-container {
	width: 240px;
	float: left;
}

.drive-logo {
	background-image: url(../../../assets/img/drive-logo.svg);
	background-position: center;
}

#menuBtn {
	position: relative;
	top: -1px;
}

#menuBtn:hover {
	background: none;
}

#menuBtn:hover:after {
    content : "";
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    background: url(../../../assets/img/menu.svg);
    width: 48px;
    height: 48px;
    opacity : 0.5;
}

h1 {
	float: left;
	margin: 13px 0 0 5px;
	font-size: 20px;
	font-family: 'RobotoLight';
	font-weight: normal;
}

.product-title {
	width: 176px;
	margin-left: 6px;
	-webkit-transition: all .2s;
}

.controls {
	float: right;
	margin: 6px 8px 0 0;
}

.file-controls.hide, .toolbar-divider.hide {
	display: none;
}

.ldap {
	float: right;
	font-size: 13px;
	line-height: 61px;
	margin-right: 12px;
}

.avatar {
	width: 30px;
	height: 30px;
	background-color: #7d7d7d;
	border-radius: 50%;
	float: right;
	margin: 14px 16px 0 3px;
	background-image: url(../../../assets/img/person_photo.png);
	background-size: cover;
}

.icon {
	background-color: #7d7d7d;
	width: 48px;
	height: 48px;
	margin: 1px 0 0 -2px;
	float: left;
}

.icon.inline {
	margin-top: 4px;
}

polymer-drive-toolbar .icon {

}

polymer-ui-menu-button[icon=settings] {
	margin-right: 10px !important;
	margin-left: 2px !important;
}

.search-bar {
	float: left;
	margin-top: 3px;
}

.search-bar input {
	font-family: 'RobotoLight';
	font-size: 14px;
	border: none;
	padding: 5px;
	margin: 11px 0 0 0;
	color: #b5b5b5;
	outline: none;
}

.icon.search {
	-webkit-mask-image: url(../../../assets/img/search.svg);
	opacity: .5;
	margin: -1px 0 0 5px;
}

.toolbar-divider {
	height: 28px;
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
	margin: 0 12px;
	display: inline-block;
}

:host.sidebar-closed .product-title {
	width: 0;
	opacity: 0;
	-webkit-transition: all .2s;
}

:host.sidebar-closed polymer-drive-breadcrumbs {
	padding-left: 36px;
	-webkit-transition: all .2s;
}

.file-controls {
	display: inline-block;
}

.file-controls, .general-controls {
	position: relative;
	margin-top: -1px;
}

.icon.folder {
	-webkit-mask-image: url(../../../assets/img/folder.svg);
}

.icon.share {
	-webkit-mask-image: url(../../../assets/img/share.svg);
}

.icon.info {
	-webkit-mask-image: url(../../../assets/img/info.svg);
}

.icon.list {
	-webkit-mask-image: url(../../../assets/img/list.svg);
}

.icon.grid {
	-webkit-mask-image: url(../../../assets/img/grid.svg);
}

.icon.settings {
	-webkit-mask-image: url(../../../assets/img/settings.svg);
}

.icon.apps {
	-webkit-mask-image: url(../../../assets/img/apps.svg);
}

.icon.alert {
	-webkit-mask-image: url(../../../assets/img/alert.svg);
}

#search input:hover {
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
	border: 1px solid rgb(77, 144, 254);
	-webkit-transition: all 0.1s;
}

#search input {
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	height: 28px;
	margin-top: 12px;
	padding: 0 0 0 8px;
	width: 462px;
	background: rgb(255, 255, 255);
	font-size: 15px;
}

#search button {
	height: 30px;
	margin-left: -5px;
	position: relative;
	top: 7px;
	max-width: 60px;
	min-width: 60px !important;
	border: 0px solid rgb(48, 121, 237);
	background: url("../../../assets/img/tesla-custom/search.png") center no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgb(0, 134, 237)), to(rgb(0, 139, 255)));
	
	border-radius: 2px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-left: 8px;
	padding-right: 8px;


}