/* line 1, ../sass/button.scss */
button {
  width: 44px;
  height: 44px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  position: relative;
  display: inline-block;
  -webkit-appearance: button;
}

/* line 13, ../sass/button.scss */
button.light:before {
  background-image: url("../img/_buttons/btn_light.png");
  background-position: 0 0;
}

/* line 19, ../sass/button.scss */
button.primary-nav:after {
  margin: 8px;
  background-image: url("../img/menu.svg");
  background-position: center -24px;
}

/* line 25, ../sass/button.scss */
button:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  outline: none;
  background-image: none;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 40, ../sass/button.scss */
button:after {
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  outline: none;
  width: 24px;
  height: 24px;
  border: none;
  background-size: 24px auto;
  background-repeat: no-repeat;
  margin: 10px;
  z-index: 10000;
}
