@import url(load-data.css);
@import url(../font/roboto/roboto.css);
@import url(../../components/breadcrumb/breadcrumb.css);
@import url(../../components/file/file.css);
@import url(../../components/folder/folder.css);
@import url(../../components/list/list.css);
/* line 9, ../sass/tophat.scss */
a {
  color: #6282f7;
  text-decoration: none;
}

/* line 14, ../sass/tophat.scss */
body {
  margin: 0;
  padding: 0;
  background: #eeeeee;
  color: #2f2f2f;
}

/* line 21, ../sass/tophat.scss */
.tophat {
  font-family: RobotoLight;
  font-size: 13px;
}
/* line 24, ../sass/tophat.scss */
.tophat .active-section {
  position: absolute;
  top: 60px;
  left: 240px;
  width: calc(100% - 40px - 240px);
  height: calc(100% - 40px - 60px);
  margin: 20px;
  -webkit-transition: all .5s;
}
/* line 32, ../sass/tophat.scss */
.tophat .active-section h1 {
  margin: 0;
}
/* line 36, ../sass/tophat.scss */
.tophat .closed .active-section {
  left: 0;
  width: calc(100% - 40px - 0);
  -webkit-transition: all .5s;
}
/* line 41, ../sass/tophat.scss */
.tophat .drive-logo-white {
  width: 32px;
  height: 32px;
  float: left;
  margin: 14px 16px;
  background-image: url(../img/drive-logo-white.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.33));
}
/* line 1, ../sass/_nav-top.scss */
.tophat .nav-top {
  height: 58px;
  border-top: 1px solid #e2e2df;
  border-bottom: 1px solid #c8c8c8;
  /* background: linear-gradient(to bottom, white 0%, #f2f2f2 2%, #eeebed 100%); */
  background: #f5f5f5;
  position: fixed;
  top: 0;
  left: 240px;
  width: calc(100% - 240px);
  -webkit-transition: all .5s;
  z-index: 10;
}
/* line 13, ../sass/_nav-top.scss */
.tophat .nav-top h1 {
  font-weight: normal;
  font-size: 18px;
  display: inline-block;
  position: relative;
  top: 7px;
}
/* line 22, ../sass/_nav-top.scss */
.tophat .right-controls {
  float: right;
}
/* line 24, ../sass/_nav-top.scss */
.tophat .right-controls .icon {
  float: right;
  width: 21px;
  height: 21px;
  background-color: #666;
  margin: 18px 24px 0 0;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
}
/* line 32, ../sass/_nav-top.scss */
.tophat .right-controls .icon.alert {
  background: url(../img/alert.png);
  -webkit-mask-size: 21px;
  position: relative;
  bottom: -1px;
  opacity: .6;
}
/* line 39, ../sass/_nav-top.scss */
.tophat .right-controls .icon.grid {
  -webkit-mask-image: url(../img/grid.svg);
  -webkit-mask-size: 16px;
}
/* line 43, ../sass/_nav-top.scss */
.tophat .right-controls .icon.app {
  -webkit-mask-image: url(../img/grid_apps.svg);
  -webkit-mask-size: 16px;
}
/* line 47, ../sass/_nav-top.scss */
.tophat .right-controls .icon.search {
  -webkit-mask-image: url(../img/search.svg);
  -webkit-mask-size: 24px;
  position: relative;
  bottom: -1px;
}
/* line 56, ../sass/_nav-top.scss */
.tophat .closed .nav-top {
  left: 0;
  width: 100%;
  -webkit-transition: all .5s;
}
/* line 1, ../sass/_nav-left.scss */
.tophat .nav-left {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  width: 240px;
  height: 100%;
  background: #eeeeee;
  color: #fff;
  /* box-shadow: inset -5px -5px 20px 0 rgba(0, 0, 0, 0.5); */
  overflow: hidden;
  -webkit-transition: all .5s;
}
/* line 13, ../sass/_nav-left.scss */
.tophat .nav-left .color-tag {
  background: #4285f4;
}
/* line 16, ../sass/_nav-left.scss */
.tophat .nav-left h1 {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding: 0 20px;
  height: 58px;
  line-height: 64px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  font-family: RobotoLight;
  text-transform: uppercase;
}
/* line 28, ../sass/_nav-left.scss */
.tophat .nav-left ul {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #666;
  border: 1px solid #dedede;
  border-bottom: 1px solid #cecece;
  border-top: none;
  border-left: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
/* line 38, ../sass/_nav-left.scss */
.tophat .nav-left ul li:first-child {
  padding-top: 30px;
}
/* line 41, ../sass/_nav-left.scss */
.tophat .nav-left ul li:last-child {
  padding-bottom: 30px;
}
/* line 44, ../sass/_nav-left.scss */
.tophat .nav-left ul li {
  cursor: pointer;
  font-size: 15px;
  font-family: RobotoCondensed;
  text-transform: uppercase;
  padding: 20px 60px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid transparent;
}
/* line 53, ../sass/_nav-left.scss */
.tophat .nav-left ul li.selected {
  /* border: 1px solid #414141;
  background: #1b1b1b;
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 1); */
  color: #6282f7;
}
/* line 58, ../sass/_nav-left.scss */
.tophat .nav-left ul li.selected .icon {
  background-color: #6282f7;
}
/* line 62, ../sass/_nav-left.scss */
.tophat .nav-left ul li .icon {
  background-color: #666666;
  /* background: linear-gradient(to bottom, #c9c9cb 0%, #c3c3c3 100%); */
  width: 21px;
  height: 21px;
  position: absolute;
  margin: -4px 0 0 -40px;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
}
/* line 72, ../sass/_nav-left.scss */
.tophat .nav-left ul li .icon.home {
  -webkit-mask-image: url(../img/home.svg);
}
/* line 75, ../sass/_nav-left.scss */
.tophat .nav-left ul li .icon.folders {
  -webkit-mask-image: url(../img/folder.svg);
}
/* line 78, ../sass/_nav-left.scss */
.tophat .nav-left ul li .icon.docs {
  -webkit-mask-image: url(../img/file.svg);
}
/* line 81, ../sass/_nav-left.scss */
.tophat .nav-left ul li .icon.photos {
  -webkit-mask-image: url(../img/photos.svg);
}
/* line 84, ../sass/_nav-left.scss */
.tophat .nav-left ul li .icon.settings {
  -webkit-mask-image: url(../img/settings.svg);
}
/* line 92, ../sass/_nav-left.scss */
.tophat .closed .nav-left {
  left: -240px;
  -webkit-transition: all .5s;
}
/* line 1, ../sass/_buttons.scss */
.tophat .headerbar .primary-nav {
  display: inline-block;
  vertical-align: middle;
}
/* line 6, ../sass/_buttons.scss */
.tophat button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  padding: 2px 6px 3px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: -webkit-small-control;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: button;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  position: relative;
  display: inline-block;
  outline: none;
}
/* line 40, ../sass/_buttons.scss */
.tophat button.primary-nav {
  margin: 7px 6px 0 10px;
}
/* line 45, ../sass/_buttons.scss */
.tophat button.light:before {
  background-image: url("../img/_buttons/btn_light.png");
  background-position: 0 0;
}
/* line 50, ../sass/_buttons.scss */
.tophat button.primary-nav:after {
  background-image: url("../img/menu.svg");
  background-position: center -24px;
}
/* line 55, ../sass/_buttons.scss */
.tophat button:hover {
  background: url("../img/_buttons/btn_light.png");
  background-position: center -176px;
  background-size: cover;
}
/* line 61, ../sass/_buttons.scss */
.tophat button:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  outline: none;
  background-image: none;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 76, ../sass/_buttons.scss */
.tophat button:after {
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  outline: none;
  width: 24px;
  height: 24px;
  border: none;
  background-size: 24px auto;
  background-repeat: no-repeat;
  margin: 10px;
  z-index: 10000;
}
/* line 92, ../sass/_buttons.scss */
.tophat button.pressed {
  background: url("../img/_buttons/btn_light.png");
  background-position: center -88px;
  background-size: cover;
}

/* line 57, ../sass/tophat.scss */
.clear {
  clear: both;
}
