:host {
  font-family: Roboto;
  font-size: 13px;
  width: 100%;
}

ul:first-child {
	margin-top: 20px;
}

ul ul {
	padding: 0 15px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}

li {
	line-height: 48px;
	cursor: pointer;
	position: relative;
	-webkit-transition: all .25s;
	padding: 0;
}

li li {
	line-height: 32px;
}

:host.compact li {
	line-height: 32px !important;
	-webkit-transition: all .25s;
}

:host.compact li .icon {
	width: 48px;
	height: 32px;
	-webkit-transition: all .25s;
}

:host.compact li .arrow {
	top: 4px;
}

li:after {
	visibility: hidden;
     display: block;
     content: " ";
     clear: both;
     height: 0;
}

.icon {
	background-color: #7d7d7d;
	width: 48px;
	height: 48px;
	float: left;
	margin: -2px 4px 0 15px;
	-webkit-transition: all .25s;
}

li li .icon {
	width: 32px;
	height: 32px;
	margin-left: 20px;
}

.hide-children ul {
	display: none;
}

.arrow {
	width: 21px;
	height: 21px;
	background: #7d7d7d;
	position: absolute;
	top: 10px;
	left: 6px;
	-webkit-mask-image: url(img/arrow.svg);
	z-index: 10;
}


.open > .arrow {
	-webkit-transform:rotate(90deg);
}

li li .arrow {
	top: 2px;
}

.icon.folder {
	-webkit-mask-image: url(img/folder.svg);
	-webkit-mask-position: center;
}

.icon.shared {
	-webkit-mask-image: url(img/shared.svg);
	-webkit-mask-position: center;
}

.icon.starred {
	-webkit-mask-image: url(img/starred.svg);
	-webkit-mask-position: center;
}

.icon.recent {
	-webkit-mask-image: url(img/recent.svg);
	-webkit-mask-position: center;
}

.icon.trashed {
	-webkit-mask-image: url(img/trashed.svg);
	-webkit-mask-position: center;
}

.icon.more {
	-webkit-mask-image: url(img/more.svg);
	-webkit-mask-position: center;
	-webkit-transform:rotate(90deg);
}

.selected > .sidebar-item .title {
	color: #db4437;
}

.selected > .sidebar-item .icon {
	background-color: #db4437;
}

.over > div > .sidebar-item {
  background: #c6dcff;
  box-shadow: 0 0 2px 2px rgba(77,144,254,.4) inset;
}

.title {
  float: left;
}

polymer-drive-sidebar-item polymer-drive-sidebar-item .marker {
	display: none;
}

polymer-drive-sidebar-item:hover .icon {
	background: #303030;
}

polymer-drive-sidebar-item polymer-drive-sidebar-item .icon {
	background: #7d7d7d !important;
}

polymer-drive-sidebar-item polymer-drive-sidebar-item .sidebar-item {
	background: #fafafa !important;
}