:host {

}

.create.upload .create-title {
	line-height: 50px;
	margin-right: 65px;
	font-family: Roboto;
}

.create-title {
	position: absolute;
	width: 120px;
	text-align: right;
	right: 0;
	margin-right: 60px;
	line-height: 50px;
	color: #191919;
	font-size: 13px;
	display: none;
	cursor: default;
	text-shadow: 0 0 2px #fff;
	-webkit-transition: all .2s;
}

:host.open .create-title {
	line-height: 40px;
	display: block;
}

.create-title a {
	color: #191919;
	text-decoration: none;
	background: #fafafa;
	padding: 3px 6px;
	margin: -3px -6px 0 0;
	border-radius: 3px;
}

.create:hover .create-title {
	padding-top: 2px;
	padding-right: 2px;
	-webkit-transition: all .2s;
}

.create.upload:hover .create-title {
	padding-top: 0;
	padding-right: 0;
	-webkit-transition: all .2s;
}

.creator {
	position: absolute;
	bottom: 30px;
	right: 30px;
	background: transparent;
}

.create {
	position: absolute;
	background: #db4437;
	width: 50px;
	height: 50px;
	bottom: 0;
	right: 0;
	border-radius: 50%;
	border-top: 1px solid #e78077;
	border-bottom: 1px solid #be3b30;
	overflow: visible;
	-webkit-transition: all .2s;
	box-shadow: 0 1px 5px rgba(0,0,0,.33);
	background-repeat: no-repeat;
	background-position: center;
}

.create:hover {
	border-color: #2962ff !important;
	background: #2962ff !important;
}

.create.upload {
	background: red;
	border-top: 1px solid #e78077;
	border-bottom: 1px solid #be3b30;
	opacity: 0;
}

.create.folder {
	background: #8a8a8a;
	border-top: 1px solid #d4d3d3;
	border-bottom: 1px solid #6a6c6c;
	opacity: 0;
}

.create.doc {
	background: #0080f1;
	border-top: 1px solid #0088fa;
	border-bottom: 1px solid #0076e7;
	opacity: 0;
}

.create.sheet {
	background: #009e5a;
	border-top: 1px solid #009d59;
	border-bottom: 1px solid #009d59;
	opacity: 0;
}

.create.slide {
	background: #ffb000;
	border-top: 1px solid #ffb000;
	border-bottom: 1px solid #ffb000;
	opacity: 0;
}

:host.open .create.upload:hover {
	width: 50px !important;
	height: 50px !important;
}

:host.open .create.folder:hover {
	width: 44px !important;
	height: 44px !important;
}

:host.open .create.folder:hover .icon {
	width: 44px !important;
	height: 44px !important;
}

:host.open .create:hover {
	width: 44px !important;
	height: 44px !important;
	margin: -2px;
}

:host.open .create:hover .icon {
	width: 44px !important;
	height: 44px !important;
}

:host.open .create.upload:hover .icon {
	width: 50px !important;
	height: 50px !important;
}

:host.open .create.upload {
	bottom: 0;

	background: #db4437;
	border-top: 1px solid #e78077;
	border-bottom: 1px solid #be3b30;

	opacity: 1;
	width: 50px !important;
	height: 50px !important;
	margin: 0;
}

:host.open .create.folder {
	bottom: 75px;
	right: 5px;
	width: 40px;
	height: 40px;
	background: #8a8a8a;
	border-top: 1px solid #d4d3d3;
	border-bottom: 1px solid #6a6c6c;
	opacity: 1;
}

:host.open .create.doc {
	bottom: 140px;
	right: 5px;
	width: 40px;
	height: 40px;
	background: #0080f1;
	border-top: 1px solid #0088fa;
	border-bottom: 1px solid #0076e7;
	opacity: 1;
}

:host.open .create.sheet {
	bottom: 205px;
	right: 5px;
	width: 40px;
	height: 40px;
	background: #009e5a;
	border-top: 1px solid #009d59;
	border-bottom: 1px solid #009d59;
	opacity: 1;
}

:host.open .create.slide {
	bottom: 270px;
	right: 5px;
	width: 40px;
	height: 40px;
	background: #ffb000;
	border-top: 1px solid #ffb000;
	border-bottom: 1px solid #ffb000;
	opacity: 1;
}

:host.open .create.plus {
	bottom: calc(270px + 65px);
	right: 5px;
	width: 40px;
	height: 40px;
	opacity: 1;
}

.icon {
	width: 40px;
	height: 40px;
	position: absolute;
	background: #fff;
	-webkit-transition: all .2s;
	-webkit-mask-repeat: no-repeat;
}

.upload .icon {
	-webkit-mask: url(../../../assets/img/upload.svg) center;

	width: 50px !important;
	height: 50px !important;
}

.folder .icon {
	-webkit-mask: url(../../../assets/img/folder.svg) center;
	width: 40px;
	height: 40px;
}

.doc .icon {
	-webkit-mask: url(../../../assets/img/doc.svg) center;
	-webkit-mask-repeat: no-repeat;
}

.sheet .icon {
	-webkit-mask: url(../../../assets/img/sheet.svg) center;
	-webkit-mask-repeat: no-repeat;
}

.slide .icon {
	-webkit-mask: url(../../../assets/img/slide.svg) center;
	-webkit-mask-repeat: no-repeat;
}

:host.open .plus .icon {
	-webkit-mask: url(../../../assets/img/plus.svg) center;
	width: 40px;
	height: 40px;
}

.plus .icon {
	-webkit-mask: url(../../../assets/img/plus.svg) center;
	width: 50px;
	height: 50px;
}