[contenteditable="true"] {
  cursor: text;
  outline: none;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 200px;
  left: 200px;
  cursor: move;
}

.slide-area .box {
  outline: 1px solid rgba(0, 0, 0, .1);
}

.slide-area .box.selected {
  outline: 2px solid rgba(204, 227, 249, .5);
}

.box.text ul {
  line-height: 1.5em;
}

.editable-text {
  margin: 8px;
  font-size: 2em;
}

.handle {
  width: 6px;
  height: 6px;
  border: 1px solid black;
  background: white;
  position: absolute;
  display: none;
}

.slide-area .box.selected .handle {
  display: block;
}

.handle.top {
  position: absolute;
  top: -5px;
}

.handle.bottom {
  position: absolute;
  bottom: -5px;
}

.handle.left {
  position: absolute;
  left: -5px;
}

.handle.right {
  position: absolute;
  right: -5px;
}

.handle.top.left {
  cursor: nw-resize;
}

.handle.top.right {
  cursor: ne-resize;
}

.handle.bottom.left {
  cursor: sw-resize;
}

.handle.bottom.right {
  cursor: se-resize;
}