.tooltip {
  position: absolute;
  background: #2d2d2d;
  top: 32px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  height: 29px;
  line-height: 29px;
  margin-left: -12px;
  padding: 0 10px;
  font-size: 11px;
  z-index: 2000;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.13s;
  -webkit-transition-delay: 0.3s;
  opacity: 0;
  display: none;
}

.tooltip:after {
  content: '';
  outline: none;
  display: block;
  position: absolute;
  top: -5px;
  left: 24px;
  margin: 0 0 0 -5px;
  width: 0;
  height: 0;
  line-height: 0px;
  font-size: 0px;
  border-top: transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #2d2d2d;
}

.toolbar-icon:hover .tooltip {
  opacity: 1;
  display: block;
}

.toolbars {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  background: whiteSmoke;
  height: 35px;
  width: 100%;
}

.toolbar {
  list-style: none;
  margin: 0;
}

.toolbar-icon {
  border: 1px solid transparent;
  border-radius: 2px;
  width: 25px;
  height: 24px;
  float: left;
  position: relative;
  top: 5px;
  margin: 0;
}

.toolbar-icon.red {
  border: 1px solid #b0281a;
  border-bottom: 1px solid #AF301F;
  color: #FFF;
  background-color: #c53727;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39),
    to(#c53727) );
  background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
  background-image: linear-gradient(top, #dd4b39, #c53727);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.toolbar-icon.red .divider {
  border-left: 1px solid #b0281a;
  position: absolute;
  right: 4px;
  top: 0;
  height: 24px;
}

.toolbar .toolbar-icon.red .icon {
  background: #fff;
}

.toolbar-icon.wide.red .dropdown {
  background: #fff;
  right: 2px;
}

.toolbar-icon.wide.red.selected {
  border: 1px solid #b0281a;
}

.toolbar-icon.wide.red:hover {
  border-color: #b0281a;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.toolbar-icon.wide {
  width: 34px;
}

.toolbar-icon.wide .dropdown,.toolbar-text .dropdown {
  width: 5px;
  height: 5px;
  background: #777;
  -webkit-mask: url(../img/docs_icons/5px_dropdown_arrow.svg) center
    no-repeat;
  position: absolute;
  top: 10px;
  right: 3px;
}

.toolbar-icon:hover {
  border-color: #c6c6c6;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.toolbar-icon.selected {
  background-color: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.toolbar .icon {
  background: #444;
  width: 21px;
  height: 21px;
  margin: 1px auto;
}

.toolbar .toolbar-icon.wide .icon {
  margin: 1px 2px;
}

.toolbar .divider {
  border-left: 1px solid #E5E5E5;
  height: 100%;
  float: left;
  margin: 0 5px 0 5px;
  height: 35px;
}

.toolbar .divider.small {
  border-left: 1px solid #ccc;
  height: 50%;
  float: left;
  margin: 9px 0 9px 5px;
  padding-right: 5px;
}

.toolbar .toolbar-text {
  float: left;
  position: relative;
  font-size: 11px;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 2px;
  margin: 0;
  height: 24px;
  padding: 0 16px 0 8px;
  min-width: 20px;
  line-height: 24px;
  cursor: default;
  top: 5px;
  line-height: 24px;
}

.toolbar .toolbar-text:hover {
  border: 1px solid #C6C6C6;
  background-image: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.toolbar .toolbar-text.wide {
  width: 60px;
}

.toolbar-text.selected {
  background-color: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.toolbar-text.selected .dropdown-menu {
  display: block;
}

.dropdown-menu {
  color: #222;
  position: absolute;
  z-index: 100;
  list-style: none;
  margin: 2px 0 0 -8px;
  padding: 10px 0;
  background: #fff;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 13px;
  font-weight: normal;
  display: none;
}

#fontSizeMenu {
  -webkit-user-select: none;
}

.dropdown-menu li {
  padding: 0 20px;
}

.dropdown-menu li:hover {
  background-color: #F1F1F1;
  -webkit-transition: background 0s;
}

.icon.add {
  -webkit-mask: url(../img/docs_icons/add_sheet.svg) center no-repeat;
}

.icon.undo {
  -webkit-mask: url(../img/docs_icons/undo.svg) center no-repeat;
}

.icon.redo {
  -webkit-mask: url(../img/docs_icons/redo.svg) center no-repeat;
}

.icon.cloudboard {
  -webkit-mask: url(../img/docs_icons/cloudboard.svg) center no-repeat;
}

.icon.format-painter {
  -webkit-mask: url(../img/docs_icons/format_painter.svg) center no-repeat;
}

.icon.zoom-to-fit {
  -webkit-mask: url(../img/docs_icons/zoom_to_fit.svg) 0 -1px no-repeat;
}

.icon.zoom-in {
  -webkit-mask: url(../img/docs_icons/zoom_tool.svg) center no-repeat;
}

.icon.pointer {
  -webkit-mask: url(../img/docs_icons/arrow_selector_tool.svg) center
    no-repeat;
}

.icon.line {
  -webkit-mask: url(../img/docs_icons/line_tool.svg) center no-repeat;
}

.icon.shape {
  -webkit-mask: url(../img/docs_icons/shapes.svg) center no-repeat;
}

.icon.text-box {
  -webkit-mask: url(../img/docs_icons/insert_text.svg) center no-repeat;
}

.icon.image {
  -webkit-mask: url(../img/docs_icons/image.svg) center no-repeat;
}

.icon.link {
  -webkit-mask: url(../img/docs_icons/insert_link.svg) center no-repeat;
}

.icon.fill-color {
  -webkit-mask: url(../img/docs_icons/fill_color.svg) center no-repeat;
}

.icon.line-color {
  -webkit-mask: url(../img/docs_icons/line_color.svg) center no-repeat;
}

.icon.line-weight {
  -webkit-mask: url(../img/docs_icons/line_weights.svg) center no-repeat;
}

.icon.line-type {
  -webkit-mask: url(../img/docs_icons/line_type.svg) center no-repeat;
}

.icon.bold {
  -webkit-mask: url(../img/docs_icons/bold.svg) center no-repeat;
}

.icon.italic {
  -webkit-mask: url(../img/docs_icons/italics.svg) center no-repeat;
}

.icon.underline {
  -webkit-mask: url(../img/docs_icons/underline.svg) center no-repeat;
}

.icon.text-color {
  -webkit-mask: url(../img/docs_icons/text_color.svg) center no-repeat;
}

.icon.list-numbered {
  -webkit-mask: url(../img/docs_icons/list_numbered.svg) center no-repeat;
}

.icon.list-bullet {
  -webkit-mask: url(../img/docs_icons/list_bulleted.svg) center no-repeat;
}

.icon.indent {
  -webkit-mask: url(../img/docs_icons/indent.svg) center no-repeat;
}

.icon.outdent {
  -webkit-mask: url(../img/docs_icons/outdent.svg) center no-repeat;
}

.icon.align-left {
  -webkit-mask: url(../img/docs_icons/text_align_left.svg) center
    no-repeat;
}

#toolbar-overlay {
  position: absolute;
  top: 91px;
  left: 42px;
  font-size: 0;
}

.icon-overlay,.icon-overlay.disabled:hover {
  position: relative;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 2px;
  width: 25px;
  height: 24px;
  background-color: transparent;
  -webkit-box-shadow: none;
}

.icon-overlay:hover {
  /*   background-color: rgba(255, 255, 255, 0.2); */
  border-color: #c6c6c6;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.icon-overlay:active {
  background-color: transparent;
  border-color: #c6c6c6;
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.icon-overlay.selected,.numbered-list-selected #numbered-icon,.bulleted-list-selected #bulleted-icon
  {
  background-color: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #CCC;
}

.icon-overlay.wide,.icon-overlay.wide.disabled:hover {
  width: 34px;
  margin-left: -1px;
}

.icon-overlay .tooltip {
  position: absolute;
  left: 9px;
  top: 28px;
}

.toolbar-icon.selected .tooltip {
  display: none;
}

.kd-colorpicker {
  background: #fff;
  width: 140px;
  padding: 16px;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  z-index: 100;
  margin-top: 3px;
  position: absolute;
  display: none;
}

.selected .kd-colorpicker {
  display: block;
}

.kd-colortable {
  width: 140px;
}

.kd-colortable.table {
  border-collapse: separate;
  border-spacing: 0;
}

.kd-colortable.primaries {
  margin-bottom: 8px;
}

.kd-colortable td {
  width: 16px;
  height: 16px;
  border: 1px solid white;
  cursor: default;
  position: relative;
}

.kd-colortable td:hover {
  border-color: #333;
}