body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #444;
}

body.wait {
  cursor: wait;
}

header {
  height: 60px;
  width: 100%;
  background: #f1f1f1;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  z-index: 10;
}

.pad-under {
  height: 112px;
}

button {
  font: 11px Arial, sans-serif;
  font-weight: bold;
  height: 27px;
}

.google-logo {
  width: 92px;
  height: 32px;
  background-image: url(../img/logo5w.png);
  background-size: cover;
  position: absolute;
  left: 30px;
  top: 18px;
}

.input-area {
  background: #fff;
  width: 500px;
  height: 28px;
  border: 1px solid #cdcdcd;
  top: 15px;
  left: 200px;
  position: absolute;
}

.search-btn {
  background: #4485f4;
  width: 60px;
  height: 30px;
  position: absolute;
  right: -60px;
  top: -1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: default;
}

.search.icon {
  -webkit-mask-image: url(../img/search.svg);
  -webkit-mask-size: 24px;
  background: #fff;
  margin: 4px auto;
  width: 24px;
  height: 24px;
}

.item .twisty {
  position: absolute;
  left: -16px;
  top: 12px;
  width: 21px;
  height: 21px;
  background: url(../img/arrow_more.svg);
  opacity: .65;
}

.item .twisty.open {
  -webkit-transform: rotate(90deg);
}

.name {
  line-height: 40px;
  margin-right: 10px;
}

.owner {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0 16px;
  background: #fff;
}

.date {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 24px;
  background: #fff;
}

.selected .owner,.selected .date {
  background: #ffc;
}

.apps {
  background: url(../img/apps.png);
  opacity: .58;
}

.alert {
  background: url(../img/bell.png);
  opacity: .58;
}

.icon-group .avatar.icon {
  background-image: url(../img/avatar.png);
  background-size: 30px;
  width: 30px;
  height: 30px;
  margin: 5px 20px 5px 15px;
  border-radius: 2px;
}

.icon-group {
  padding: 10px;
}

.icon-group .icon {
  margin: 10px;
}

.icon {
  width: 21px;
  height: 21px;
}

.toolbar {
  width: 100%;
  height: 47px;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  background: #fff;
  top: 61px;
  z-index: 10;
}

.toolbar h2 {
  width: 100px;
  float: left;
  font-size: 20px;
  padding-left: 30px;
  margin: 0;
  line-height: 48px;
  color: #dd4b39;
  font-weight: normal;
}

.toolbar h3 {
  font-weight: normal;
  position: absolute;
  left: 200px;
  font-size: 16px;
  color: #555;
}

.back-btn {
  width: 21px;
  height: 21px;
  margin: 4px;
  background: #555;
  -webkit-mask-image: url(../img/back.svg);
  position: absolute;
  left: 168px;
  top: 12px;
  display: none;
}

#sidebar {
  margin: 15px 0 0 30px;
  width: 170px;
  min-height: 200px;
  float: left;
}

.items-container {
  overflow: scroll;
  width: calc(100% -    170px);
  height: calc(100% -    94px);
  position: fixed;
  top: 109px;
  left: 170px;
}

.items-container.half {
  width: calc(100%/ 2 -   170px/ 2);
}

.items-container.items2 {
  left: auto;
  right: 0;
  display: none;
  border-left: 1px solid #e5e5e5;
}

.folder {
  margin: 0 0 0 21px;
  padding: 0;
  list-style: none;
}

.folder li {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  cursor: default;
}

.folder .item .title {
  margin-left: 50px;
  overflow: hidden;
  width: 45%;
  height: 49px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.folder .item {
  line-height: 49px;
  border-bottom: 1px solid #eee;
  position: relative;
}

.folder .item .icon {
  width: 32px;
  height: 32px;
  position: absolute;
  margin-top: 8px;
  left: 8px;
}

.folder .item .icon .inner-icon {
  width: 16px;
  height: 16px;
  margin: 10px 0 0 9px;
}

.folder .item .icon.folder-icon {
  background: url(../img/folder.png) center no-repeat;
}

.folder .item .icon.page-icon {
  background: url(../img/page.png) center no-repeat;
}

.status {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 100;
  width: 240px;
  text-align: center;
  top: 160px;
  margin-left: 50%;
  left: -120px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

#sidebar ul li.selected a {
  color: #dd4b39 !important;
  font-weight: bold;
}

#sidebar {
  list-style: none;
}

#sidebar #buttons #create {
  width: 33px;
  margin-left: -3px;
  background-image: url("../img/create.png"),
    -webkit-linear-gradient(top, #dd4b39, #d14836);
  background-repeat: no-repeat;
  background-position: center;
}

#upload {
  width: 83px;
}

#topfacets {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 2.5em;
}

#topfacets a {
  text-decoration: none;
  color: #444;
}

.red-action-button {
  border: 0;
  color: white;
  -webkit-border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#dd4b39),
    to(#d14836));
  text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  text-transform: uppercase;
}

.red-action-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#dd4b39),
    to(#c53727));
  border: 1px solid #b0281a;
  border-bottom: 1px solid #AF301F;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  color: white;
}

.item.selected {
  background: #ffc;
}

.btn-group {
  float: right;
  margin: 10px 30px;
}

.btn-group button {
  width: 36px;
  background: #f5f5f5;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 22px;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

.btn-group .left-btn-item {
  padding-right: 0;
  margin-right: -5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .icon {
  background: #555;
  margin-left: -1px;
}

.list-view .icon {
  -webkit-mask-image: url(../img/list_view.svg);
}

.double-list-view .icon {
  -webkit-mask-image: url(../img/double_list_view.svg);
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #aaa;
}