@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto2/Roboto2DRAFT-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto2/Roboto2DRAFT-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto2/Roboto2DRAFT-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	color: #444;
	font-family: 'Roboto';
	background: rgb(250, 250, 250);
}

a {
	color: rgb(66, 133, 244);
}

#sidebar {
	background: rgb(255, 255, 255);
	-webkit-transform: translate3d(0,0,0);
	width: 240px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 0;
	box-sizing: border-box;
	border-right: 1px solid #f3f3f3;
	font-size: 13px;
}

#sidebar ul {
	line-height: 36px;
	list-style: none;
	margin: 0;
	padding: 0 30px;
	font-family: RobotoMedium;
}

#sidebar ul ul  {
	margin: 10px 0;
}

#sidebar a {
	color: rgb(51, 51, 51);
}

#sidebar ul {
	text-transform: uppercase;
}


#sidebar ul ul {
	text-transform: none;
}

#sidebar h1 {
	margin: 30px;
	font-weight: normal;
	color: rgb(153, 153, 153);
	font-size: 20px;
	font-family: RobotoMedium;
}

header {
	width: auto;
	text-transform: uppercase;
	border-radius: 0;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	padding: 151px 0 65px 0;
	margin-bottom: 40px;
	color: rgb(255, 255, 255);
	background: rgb(66, 133, 244);
	width: calc(100% - 240px);
	position: relative;
	left: 240px;
}

header h1 {
	font-size: 40px;
	font-family: 'Roboto',sans-serif;
	padding-left: 80px;
	font-weight: normal;
	margin: 0;
}

header h2 {
	font-size: 24px;
	font-family: 'RobotoLight',sans-serif;
	padding-left: 80px;
	margin: 0;
	font-weight: normal;
}

.page {
	margin: 80px 80px;
	width: calc(100% - 240px - 160px);
	position: relative;
	left: 240px;
}

.page > section {
	margin: 50px 0;
}

.page > h1 {
	font-weight: normal;
	margin-bottom: 0;
	color: rgb(66, 133, 244);
	text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 24px;
	padding-bottom: 20px;
}

.page > section > h2 {
	margin: 20px 0;
	font-weight: normal;
	font-family: RobotoLight;
	font-size: 18px;
}

.page > section > h4 {
	font-weight: normal;
}

a {
	text-decoration: none;
}

.author {
	text-transform: uppercase;
	font-size: 11px;
	margin-bottom: 30px;
}

.clear {
	clear: both;
}