:host {  
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all .2s;
}

.header {
	border-bottom: 1px solid rgb(229, 229, 229);
	color: #888;
	height: 50px !important;
	text-transform: uppercase;
	-webkit-transition: all .2s;
}

.header .icon-container {
	visibility: hidden;
}

.header .header-selected {
	color: rgb(219, 68, 55);
}

.header .title, .header .owner, .header .date {
	font-size: 12px;
	-webkit-transition: all .2s;
}

polymer-drive-list-item {
	right: -100px;
	-webkit-transition: all .2s;
}

:host polymer-drive-list-item.in {
	right: 0;
	-webkit-transition: all .2s;
}