@font-face {
	font-family: 'roboto-thin';
	src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
	font-family: 'roboto-regular';
	src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'roboto-bold';
	src: url('../fonts/Roboto-Bold.ttf');
}

body {
	font-family: Arial;
	font-size: 13px; margin : 0;
	padding: 0;
	margin: 0;
}

a {
	color: #2360cb;
	text-decoration: none;
}

.sections {
	width: 100%;
	height: 380px;
	background-image: url(../img/sunset-bg.jpg);
	background-size: cover;
	background-position: 0;
	overflow: hidden;
}

.content {
	margin: 30px 50px;
}

.center {
	text-align: center;
}

section {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 520px;
	display: block;
	float: left;
	color: #fff;
	position: absolute;
	overflow: hidden;
}

section h1,section h4 {
	font-family: 'Roboto', 'roboto-thin', Arial;
	font-weight: 100;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	position: relative;
}

section.active h1,section.active h4 {
	opacity: 1;
	left: 0;
	-webkit-transition: all .5s ease-in-out;
}

h1 {
	margin: 10px 0 0 0;
	font-size: 42px;
}

h4 {
	margin: .75em 0;
	font-size: 18px;
	line-height: 1.67em;
}

.monitor,.nexus4,.nexus7,.chromebook {
	opacity: 0;
	position: absolute;
	width: 0;
	height: 0;
}

.nexus4,.nexus7 {
	left: -500px;
	bottom: 80px;
	-webkit-transition: all .33 ease-in-out;
}

.chromebook {
	right: -500px;
	bottom: 50px;
	-webkit-transition: all .5s ease-in-out;
}

.monitor {
	width: 343px;
	height: 280px;
	background-image: url(../img/monitor.png);
	bottom: -500px;
	right: calc(50% - 343px/ 2);
	-webkit-transition: all .5s ease-in-out;
	background-size: cover;
}

.nexus4 {
	background-image: url(../img/nexus4.png);
	background-size: cover;
}

.nexus7 {
	background-image: url(../img/nexus7.png);
	background-size: cover;
}

.chromebook {
	background-image: url(../img/chromebook.png);
	background-size: cover;
}

.active .monitor {
	bottom: 50px;
	right: calc(50% - 343px/ 2);
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
}

.active .nexus4 {
	width: 96px;
	height: 156px;
	left: calc(50% - 343px/ 2 - 120px);
	bottom: 10px;
	opacity: 1;
	-webkit-transition: all .65s ease-in-out;
}

.active .nexus7 {
	width: 121px;
	height: 192px;
	left: calc(50% - 343px/ 2 - 80px);
	bottom: 20px;
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
}

.active .chromebook {
	width: 307px;
	height: 217px;
	right: calc(50% - 343px/ 2 - 220px);
	bottom: 10px;
	opacity: 1;
	-webkit-transition: all .65s ease-in-out;
}

.hide {
	display: none;
}

.fade {
	opacity: 0;
	-webkit-transition: opacity .25s ease-in-out;
}

.screen {
	background-image: url(../img/screen1_play.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 180px;
	height: 130px;
	position: absolute;
	top: 20px;
	left: 60px;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
}

.screen.two {
	background-image: url(../img/screen2.jpg);
}

.screen.three {
	background-image: url(../img/screen3.jpg);
}

.screen.four {
	background-image: url(../img/screen4.jpg);
}

.monitor .screen {
	top: 24px;
	left: 52px;
	width: calc(180px * 1.33);
	height: calc(130px * 1.33);
}

.nexus4 .screen {
	top: 50px;
	left: 18px;
	width: calc(180px/ 3);
	height: calc(130px/ 3);
}

.nexus7 .screen {
	top: 60px;
	left: 18px;
	width: calc(180px/ 2.2);
	height: calc(130px/ 2.2);
}

.screen.show {
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
}

.cta {
	margin: 160px 0 50px 0;
	text-align: center;
}

.cta button {
	border: 1px solid #2360cb;
	padding: 10px 20px;
	font-family: Arial, san-serif;
	font-size: 14px;
	font-weight: bold;
	border-radius: 3px;
	color: #fff;
	background: -webkit-linear-gradient(top, #5c97fb 0%, #3a74d9 100%);
	outline: none;
}

.cta button:hover {
	background: -webkit-linear-gradient(top, #3a74d9 0%, #3a74d9 100%);
}